$profile_status_text: #4b4b4b
=border-shadow
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.04),0 1px 5px rgba(0,0,0,.1)
  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.04),0 1px 5px rgba(0,0,0,.1)
  box-shadow: 0 0 0 1px rgba(0,0,0,.04),0 1px 5px rgba(0,0,0,.1)
=no-border-shadow
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none
.photoVideoBlock
  .photoHeaderBox
    .searchPhotoHeader
      width: 95%
      text-align: center
      div.title
        background-image: none!important
  .photoBox, .videoBox
    color: #eaeaea
    background: #eaeaea
    .photo-wrapper
      padding: 6px 0px 6px 0px
      transition: all .15s ease-out .1s
      transition-duration: .1s
      border: 1px solid #eaeaea
      text-align: center
      // +border-shadow
      img, video, .video-wr
        padding: 5px
        background: white
        border: 1px solid white
        width: initial
        height: 175px
        display: block
        margin: 3px auto
      img.loading
        width: initial
        height: initial
      img,video
        +border-shadow
      img:hover, video:hover
        border: 1px solid white
      .custom-link
        font-size: 11px
        color: #eaeaea
      .like-counter, .photo-time
        // text-decoration: none!important
        +italic-font
        font-size: 13px
        margin-left: 8px
      .like-counter.my-likes
        text-decoration: underline
        cursor: pointer
      .action-like
        font-size: 13px
        // line-height: 40px
        // color: #9cabae
      .actions
        text-align: center
        .like-counter
          margin-left: 0px
        a
          margin: 0px 10px 0px 10px
        .action-remove-like, .action-like, .like-counter-box
          float: left
        .remove-photo
          float: right
    .photo-wrapper:hover
      background-color: white
      border: 1px solid white
      color: #777
      +border-shadow
      img, video
        border: 1px solid white
        +no-border-shadow
      .fui-play
        color: white
      .custom-link
        color: $profile_status_text
      .action-remove-like
        color: #9cabae
        font-size: 11px
  .videoBox
    .photo-wrapper
      img, video
        width: 300px
        height: 300px
        cursor: pointer
        // position: absolute
      .video-wr
        width: 300px
        height: 300px
        border: none
        padding: 0px
        position: relative
        background: none
        img, video
          width: 300px
          height: 300px
          position: absolute
        img
          opacity: 1
          -webkit-transition: opacity 0.5s ease-in-out
          -moz-transition: opacity 0.5s ease-in-out
          -ms-transition: opacity 0.5s ease-in-out
          -o-transition: opacity 0.5s ease-in-out
          transition: opacity 0.5s ease-in-out
          z-index: 100
        video
          z-index: 99
    .fui-play
      color: #eaeaea
      position: absolute
      font-size: 45px
      margin-left: 85px
      margin-top: 40px
      cursor: pointer
      opacity: 1
      -webkit-transition: opacity 0.5s ease-in-out
      -moz-transition: opacity 0.5s ease-in-out
      -ms-transition: opacity 0.5s ease-in-out
      -o-transition: opacity 0.5s ease-in-out
      transition: opacity 0.5s ease-in-out
      z-index: 101
.settings
  .guests 
    .rightBox 
      .chatLine 
        li
          width: 320px
          border-right: 1px solid $menu_rating
      .controlLinks
        width: initial
.guests
  li
    border-right: 1px solid $menu_photos!important
.favs
  li
    border-right: 1px solid $menu_favorites!important
  li.fav-status
    background: none
    border: none
    width: initial!important
    height: initial!important
    padding: 7px 20px
    background-color: $profile_info
    border: 1px solid $chat_line_border!important
    float: left
    margin-left: 90px
    margin-right: 20px
      // border-bottom: 1px solid $chat_line_border
  li.fav-status::after, li.fav-status::before
    content: ""
    position: absolute
    left: 10px
    top: -20px
    border: 10px solid transparent
    border-bottom: 10px solid #e0e0e0

  li.fav-status::after
    top: -19px
    border-bottom: 10px solid #f1f1f1


.settings
  .guests
    li
      border-right: 1px solid $menu_rating!important


#my-folowers
  .seasonsBox
    margin-bottom: 20px
    .season
      float: left
      cursor: pointer
      width: 55px
      height: 55px
      background-image: url('../img/season.png')
      background-size: 55px
      span
        +italic-font
        color: $profile_status_text
        font-size: 14px
        margin-top: 20px
        display: block
        text-align: center
    .seasonChecked
      background-image: url('../img/season_c.png')
  .nearBox.show-vip
    opacity: 0.5
    filter: alpha(opacity=50) /* For IE8 and earlier */

.photoVideoBlock
  display: none


.vipPopup
  .vip-status-icon-block
    float: left
    .fui-star-2, .fui-eye, .fui-list-bulleted
      font-size: 80px
      color: $menu_favorites
    .fui-eye
      color: $menu_photos
    .fui-list-bulleted
      color: $menu_messages
  .bilContainer.status-success
    .price 
      color: $menu_photos
      float: left
  .bilContainer.status-error
    .price 
      float: left
      color: $menu_rating


.guests.favs
  .rightBox
    .custom-link.active
      font-size: 11px
      color: #eaeaea
      text-decoration: none


.profile-edit-slideup.loading
  background: url(http://poputchiki/static/img/settingpreloader.GIF) no-repeat!important
  text-indent: -10000px
#guest_profile
  .season, .money-icon, .house-icon
    cursor: initial!important
  .online
    background-image: url('../img/circle.png')
    background-repeat: no-repeat
    position: absolute
    right: 12px
    top: 10px
    width: 18px
    height: 18px
    z-index: 100
  .profileGuest 
    .imgBox
      cursor: pointer


img.loading-gif
  display: block!important
  margin-left: auto!important
  margin-right: auto!important

.textContent
  margin: 50px auto 0 auto
  width: 960px
  color: $text_color
  a
    color: $link
    text-decoration: none
  h1, h2
    font-weight: bold
    opacity: 0.9
  h1
    font-size: 20px
  h1, .links, .desc 
    margin: 30px 0
  .links
    img
      padding: 3px
    a:hover
      border-bottom: 1px dotted $link   
  .desc
    color: #4b4b4b
    font-size: 14px
    h4
      font-weight: bold
      margin-bottom: 25px
    p
      // text-indent: 40px
      margin-bottom: 15px
      a 
        text-decoration: underline
  // accordion
  .accordion-toggle 
    cursor: pointer
    margin: 5px 0
    a
      margin-left: 10px
  .accordion-content
    display: none
    margin: 15px 0 15px 23px
    p
      text-indent: 20px
      margin-bottom: 15px

  .accordion-content.default 
    display: block
header.info-header
  .navigation
    height: 64px
    // margin-top: 9px
    float: right
    list-style: none
    li
      float: left
      background-repeat: no-repeat
      background-position: 75% 60%
      height: inherit
      cursor: pointer
      padding-right: 10px
      span
        float: left
        line-height: 64px
        text-transform: uppercase
        padding: 0px 7px 0px 7px
        border-left: 1px solid $chat_line
        border-right: 1px solid $chat_line
      span:hover
        background: #eff5f6
        border-left: 1px solid $profile_status_border
        border-right: 1px solid $profile_status_border
    #header-abouts
      color: $header_blue
      background-image: none
    #header-journeys
      color: $header_green
      background-image: none
    #header-exit
      color: $header_orange
      background-image: none
.pop-coin
  background-image: url("../img/logo2.png")
  width: 18px
  height: 13px
  background-size: 100%
  display: inline-block
  background-repeat: no-repeat

.popupLikers
  .guests 
    .rightBox 
      .chatLine 
        li
          width: 260px
          margin-left: 60px
          float: left
          a
            position: initial
#notification-sound
  display: none