.profileContainer
	.leftBox
		.add, .write, .show 
			background: none !important
			padding-left: 10px
			.act 
				color: #03aada
				font-size: 25px
				margin: 0
				padding: 0
			.myaction
				padding: 0 
				font-size: 14px
				margin-top: -31px
				margin: -30px 0 0 36px
		.add
			margin-left: 0 !important
