.paginationitem
    background-color: white
    width: 40px
    height: 40px
    line-height: 40px
    font-size: 20px
    margin-right: 10px
    float: left
    display: block
    outline: none
    border: none
    cursor: pointer
    text-decoration: none

.pagination
    border-top: 1px solid #b5c8ce
    padding-top: 20px
    margin-top: 20px
    .active
        background-color: rgb(37, 190, 240)
        color: white

    img.loading-gif
        display: block
        margin-left: auto
        margin-right: auto