- var not_found_text = "Данная страница не существует!"
doctype html
html
  head
    title Попутчики.ру - страница не найдена
    meta(name="description",content="")
    meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
    meta(name="viewport", content="width=device-width")
    meta(name="google-site-verification",content="16PNwrZdy4A4z6TCjaeozywovay3bsBvnIxOjimaH8M")
    meta(name="fragment", content="!")
    link(rel='stylesheet', href='/static/css/lib/reset.css', type='text/css')
    link(rel='stylesheet', href='/static/css/lib/style_common.css', type='text/css')
    link(rel='stylesheet', href='/static/css/lib/style2.css', type='text/css')
    link(rel='stylesheet', href='/static/css/lib/emoticons.css', type='text/css')
    link(rel='stylesheet', href='/static/css/all.css', type='text/css')
    link(rel='stylesheet', href='/static/css/icons.css', type='text/css')
    link(rel='shortcut icon', href='/static/ico/favicon_new.ico')
    //sources for main page
    link(rel='stylesheet', href='/static/css/mainpage/gridrotator.css')
    link(rel='stylesheet', href='/static/css/mainpage/style.css')
  include notfound
  //- body
  //-   audio#testClip(name='testClip', controls='', preload='auto')
  //-     //- source(src='opus.opus', type='audio/ogg; codecs="opus"')
  //-     //- source(src='weba.weba')
  //-     //- source(src='ogg.ogg')
  //-     //- source(src='mp3.mp3')
  //-     //- source(src='wav.wav')
  //-     source(src='http://msk2.cydev.ru:8080/1,01525c9283e5ca')
  //-     //- | Y'all's browser doesn't support the <audio> tag, so this test is pointless.  I recommend upgrading to the current version of
  //-     //- a(href='http://getfirefox.com') Mozilla Firefox
  //-     //- | ,
  //-     //- | although
  //-     //- a(href='http://google.com/chrome') Google's Chrome browser
  //-     //- | and
  //-     //- a(href='http://opera.com') Opera
  //-     //- | are also good.
  //-     //- | If you feel you MUST use Microsoft Internet Explorer,
  //-     //- a(href='http://windows.microsoft.com/en-US/internet-explorer/downloads/ie-9/worldwide-languages') IE9
  //-     //- | is the earliest version that supports <audio>.
