extends ./static

block static
  .textContent
    h1 О нас
    .layout
        h2 Что такое путешествие?
        .greenDots
        .desc 
            p Путешествие – это новые захватывающие эмоции, ощущения и знакомства. «Попутчики» – социальная сеть, где Вы сможете найти попутчиков и совершить совместные путешествия, получить новые впечатления. Взбирайтесь на Эверест, гуляйте по старинным улицам европейским городов, научитесь серфингу на Бали, посмотрите на захватывающий вид с небоскребов Нью-Йорка, попробуйте бурито в Мексике. Или составьте свой список стран, которые Вы хотели бы посетить и ищите попутчиков на нашем сайте.
        h2 Здесь Вы сможете: 
        .greenDots
        .desc 
            p - Знакомьтесь с новыми людьми из других стран и городов
            p - Приглашайте «попутчиков» в путешествие 
            p - Поддерживайте общение с теми, кто был с Вами на отдыхе 
            p - Рассказывайте о своих путешествиях и выкладывайте фото и видео
            p - Выбирайте сезоны и страны, чтобы быстрее найти попутчиков
            h4 - Планируйте свой отпуск – оставляйте заявку на подбор тура
        h2 Тех поддержка
        .greenDots
        .desc 
            p По всем вопросам связанным с работой сайта, обращайтесь к нам по адресу 
                a(href="mailto:info@poputchiki.ru") info@poputchiki.ru
