extends ./static

block static
  .textContent
    h1 О нас
    .layout
        h2 Что такое путешествие?
        .greenDots
        .desc 
            p Путешествие — передвижение по какой-либо территории или акватории с целью их изучения, а также с общеобразовательными, познавательными, спортивными и другими целями. До XVIII-XIX вв. путешествия были одним из основных источников получения сведений о тех или иных странах (их природе, населении, истории, хозяйстве), общем характере и очертании поверхности Земли. На сегодняшний день создан сайт который поможет вам не только получить всю необходимую информацию, о каком либо месте нашей планеты, но и поможет вам отправиться туда в той компании попутчиков, которая подходит именно вам и еще подскажет наилучший маршрут путешествия, что необходимо взять с собой в той или иной ситуации и еще множество полезных советов. 
        h2 Здесь Вы сможете: 
        .greenDots
        .desc 
            p Найти попутчиков для планируемой поездки, завязать новые знакомства в других странах и городах с дальнейшей возможностью погостить у своих новых друзей, общаться с теми, с кем когда-то отдыхали. 
            p Посмотреть всю информацию о месте, фото и видео файлы, карты расположения и всевозможные отзывы об отелях или гостиницах, которые Вы выбрали для проведения отдыха.
            p Добавлять свои и просматривать другие путешествия и фото/видео отчеты, комментарии, впечатления и мнения о местах, получать советы от людей, которые там уже были.
            p Вести свою Анкету (карту путешествий), отображать страны и места, которые Вы посетили на общей карте сайта.
            p Читать мнения и отзывы об отдыхе во всех странах, регионах и городах — курортах мира и России.
            h4 Планируй, отдыхай, и делись впечатлениями с Попутчики.ru!