.audio.audio-change-avatar
  audio
    source(src=source)
    //- source(src='/static/audio/audio.mp3', type="audio/mp3")
    //- source(src='/static/audio/audio.ogg', type="audio/ogg")
.timeBar
  .progress