#ri-grid.ri-grid.ri-grid-size-3
  ul
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo1.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo9.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo3.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo4.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo5.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo6.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo26.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo7.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo8.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo2.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo23.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo10.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo11.jpg')

    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo12.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo13.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo15.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo14.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo23.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo16.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo17.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo24.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo18.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo19.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo20.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo25.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo21.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo22.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo26.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo27.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo1.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo9.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo27.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo3.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo4.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo5.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo23.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo6.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo7.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo8.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo2.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo10.jpg')

    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo24.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo11.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo12.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo13.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo14.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo15.jpg')

    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo25.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo16.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo17.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo18.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo19.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo20.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo21.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo1.jpg')

    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo26.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo9.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo3.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo4.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo5.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo6.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo7.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo25.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo8.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo2.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo27.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo10.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo11.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo12.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo13.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo14.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo15.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo24.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo16.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo17.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo18.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo19.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo20.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo21.jpg')

    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo23.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo1.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo9.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo3.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo4.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo5.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo25.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo6.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo7.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo8.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo2.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo10.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo11.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo23.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo12.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo13.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo26.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo14.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo15.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo16.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo24.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo17.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo18.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo19.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo20.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo21.jpg')
    li
      a(href='#')
        img(src='/static/img/gridrotator/poput_photo22.jpg')