doctype html
html
  head
    title Сайт онлайн-знакомств для путешествий Poputchiki.ru (Москва) | Интернет-сайт поиска попутчиков
    meta(name="description",content="Нужен попутчик в отпуск? Заводите знакомства в Москве и других городах на Poputchiki.ru, чтобы ездить по миру, общаться с неординарными людьми, жить интересно и весело!")
    meta(name="keywords",content="сайт знакомств  бесплатный   в москве    онлайн  интернет ищу попутчика  на отдых найти  отпуск сеть путешествие ")
    
    meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
    meta(name="viewport", content="width=device-width")
    meta(name="google-site-verification",content="16PNwrZdy4A4z6TCjaeozywovay3bsBvnIxOjimaH8M")
    meta(name="fragment", content="!")
    link(rel='stylesheet', href='/static/css/lib/reset.css', type='text/css')
    link(rel='stylesheet', href='/static/css/lib/style_common.css', type='text/css')
    link(rel='stylesheet', href='/static/css/lib/style2.css', type='text/css')
    link(rel='stylesheet', href='/static/css/lib/emoticons.css', type='text/css')
    link(rel='stylesheet', href='/static/css/all.css', type='text/css')
    link(rel='stylesheet', href='/static/css/icons.css', type='text/css')
    link(rel='shortcut icon', href='/static/ico/favicon_new.ico')
    script(type='text/javascript', src='/static/js/lib/underscore-min.js')
    script(type='text/javascript', src='/static/js/lib/jquery-1.8.2.min.js')
    script(type='text/javascript', src="/static/js/lib/jquery-ui.min.js")
    script(type='text/javascript', src='/static/js/lib/jquery.cookie.js')
    script(type='text/javascript', src='/static/js/lib/backbone-min.js')
    script(type='text/javascript', src='/static/js/lib/jquery.hoverfold.js')
    script(type='text/javascript', src='/static/js/lib/modernizr.custom.69142.js')
    script(type='text/javascript', src='/static/js/lib/emoticons.js')
    script(type='text/javascript', src='/static/js/template.js')
    script(type='text/javascript', src='/static/js/app.js')
    script(type='text/javascript', src='/static/js/models/login.js')
    script(type='text/javascript', src='/static/js/models/user.js')
    script(type='text/javascript', src='/static/js/models/register.js')
    script(type='text/javascript', src='/static/js/models/dialog.js')
    script(type='text/javascript', src='/static/js/models/message.js')
    script(type='text/javascript', src='/static/js/models/search.js')
    script(type='text/javascript', src='/static/js/models/photo.js')
    script(type='text/javascript', src='/static/js/models/video.js')
    script(type='text/javascript', src='/static/js/models/myuser.js')
    script(type='text/javascript', src='/static/js/models/token.js')
    script(type='text/javascript', src='/static/js/models/status.js')
    script(type='text/javascript', src='/static/js/models/stripe.js')
    script(type='text/javascript', src='/static/js/models/statuslike.js')
    script(type='text/javascript', src='/static/js/models/autocomplete.js')
    script(type='text/javascript', src='/static/js/mixins/uploadphoto.js')
    script(type='text/javascript', src='/static/js/mixins/sideblock.js')
    script(type='text/javascript', src='/static/js/mixins/validateuser.js')
    script(type='text/javascript', src='/static/js/mixins/meta_tags.js')
    script(type='text/javascript', src='/static/js/script/base.js')
    script(type='text/javascript', src='/static/js/views/login.js')
    script(type='text/javascript', src='/static/js/views/register.js')
    script(type='text/javascript', src='/static/js/views/profile.js')
    script(type='text/javascript', src='/static/js/views/autocomplete.js')
    script(type='text/javascript', src='/static/js/views/message.js')
    script(type='text/javascript', src='/static/js/views/messageside.js')
    script(type='text/javascript', src='/static/js/views/searchside.js')
    script(type='text/javascript', src='/static/js/views/search.js')
    script(type='text/javascript', src='/static/js/views/vipstatus.js')
    script(type='text/javascript', src='/static/js/views/stripe.js')
    script(type='text/javascript', src='/static/js/views/statuses.js')
    script(type='text/javascript', src='/static/js/views/popupphoto.js')
    script(type='text/javascript', src='/static/js/views/popupaudio.js')
    script(type='text/javascript', src='/static/js/views/entered.js')
    script(type='text/javascript', src='/static/js/views/user.js')
    script(type='text/javascript', src='/static/js/views/letsgo.js')
    script(type='text/javascript', src='/static/js/views/guestprofile.js')
    script(type='text/javascript', src='/static/js/views/favorite.js')
    script(type='text/javascript', src='/static/js/views/photo.js')
    script(type='text/javascript', src='/static/js/views/video.js')
    script(type='text/javascript', src='/static/js/views/rating.js')
    script(type='text/javascript', src='/static/js/views/setting.js')
    script(type='text/javascript', src='/static/js/views/guests.js')
    script(type='text/javascript', src='/static/js/views/dialogs.js')
    script(type='text/javascript', src='/static/js/views/favs.js')
    script(type='text/javascript', src='/static/js/views/userphoto.js')
    script(type='text/javascript', src='/static/js/views/status.js')
    script(type='text/javascript', src='/static/js/views/pagination.js')
    script(type='text/javascript', src='/static/js/views/mainstatus.js')
    script(type='text/javascript', src='/static/js/views/main.js')
    script(type='text/javascript', src='/static/js/views/rating.js')
    script(type='text/javascript', src='/static/js/views/aboutus.js')
    script(type='text/javascript', src='/static/js/views/404.js')
    script(type='text/javascript', src='/static/js/views/terms.js')
    script(type='text/javascript', src='/static/js/views/contacts.js')
    script(type='text/javascript', src='/static/js/views/likers.js')
    script(type='text/javascript', src='/static/js/views/adsblock.js')


    
    
    script(type='text/javascript', src='/static/js/script/LightningTouch.js')
    //sources for main page
    link(rel='stylesheet', href='/static/css/mainpage/gridrotator.css')
    link(rel='stylesheet', href='/static/css/mainpage/style.css')
    script(src='/static/js/mainpage/modernizr.custom.26633.js')
    script(src='/static/js/mainpage/jquery.gridrotator.js')
    script(src='/static/js/mainpage/gridrotator-init.js')
    script(src='/static/js/mainpage/scripts.js')
  block bodyMain
  //- body
  //-   audio#testClip(name='testClip', controls='', preload='auto')
  //-     //- source(src='opus.opus', type='audio/ogg; codecs="opus"')
  //-     //- source(src='weba.weba')
  //-     //- source(src='ogg.ogg')
  //-     //- source(src='mp3.mp3')
  //-     //- source(src='wav.wav')
  //-     source(src='http://msk2.cydev.ru:8080/1,01525c9283e5ca')
  //-     //- | Y'all's browser doesn't support the <audio> tag, so this test is pointless.  I recommend upgrading to the current version of
  //-     //- a(href='http://getfirefox.com') Mozilla Firefox
  //-     //- | ,
  //-     //- | although
  //-     //- a(href='http://google.com/chrome') Google's Chrome browser
  //-     //- | and
  //-     //- a(href='http://opera.com') Opera
  //-     //- | are also good.
  //-     //- | If you feel you MUST use Microsoft Internet Explorer,
  //-     //- a(href='http://windows.microsoft.com/en-US/internet-explorer/downloads/ie-9/worldwide-languages') IE9
  //-     //- | is the earliest version that supports <audio>.
