doctype html
html
  head
    meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
    link(rel='stylesheet', href='/static/css/lib/reset.css', type='text/css')
    link(rel='stylesheet', href='/static/css/lib/style_common.css', type='text/css')
    link(rel='stylesheet', href='/static/css/lib/style2.css', type='text/css')
    link(rel='stylesheet', href='/static/css/all.css', type='text/css')
    link(rel='stylesheet', href='/static/css/icons.css', type='text/css')
    script(type='text/javascript', src='/static/js/lib/underscore-min.js')
    script(type='text/javascript', src='/static/js/lib/jquery-1.8.2.min.js')
    script(type='text/javascript', src='/static/js/lib/jquery.cookie.js')
    script(type='text/javascript', src='/static/js/lib/backbone-min.js')
    script(type='text/javascript', src='/static/js/lib/jquery.hoverfold.js')
    script(type='text/javascript', src='/static/js/lib/modernizr.custom.69142.js')
    script(type='text/javascript', src='/static/js/template.js')
    script(type='text/javascript', src='/static/js/app.js')
    script(type='text/javascript', src='/static/js/models/login.js')
    script(type='text/javascript', src='/static/js/models/user.js')
    script(type='text/javascript', src='/static/js/models/register.js')
    script(type='text/javascript', src='/static/js/models/dialog.js')
    script(type='text/javascript', src='/static/js/models/message.js')
    script(type='text/javascript', src='/static/js/models/search.js')
    script(type='text/javascript', src='/static/js/models/photo.js')
    script(type='text/javascript', src='/static/js/models/myuser.js')
    script(type='text/javascript', src='/static/js/models/token.js')
    script(type='text/javascript', src='/static/js/models/status.js')
    script(type='text/javascript', src='/static/js/mixins/uploadphoto.js')
    script(type='text/javascript', src='/static/js/views/login.js')
    script(type='text/javascript', src='/static/js/views/register.js')
    script(type='text/javascript', src='/static/js/views/profile.js')
    script(type='text/javascript', src='/static/js/views/message.js')
    script(type='text/javascript', src='/static/js/views/messageside.js')
    script(type='text/javascript', src='/static/js/views/searchside.js')
    script(type='text/javascript', src='/static/js/views/search.js')
    script(type='text/javascript', src='/static/js/views/statuses.js')
    script(type='text/javascript', src='/static/js/views/entered.js')
    script(type='text/javascript', src='/static/js/views/user.js')
    script(type='text/javascript', src='/static/js/views/guestprofile.js')
    script(type='text/javascript', src='/static/js/views/favorite.js')
    script(type='text/javascript', src='/static/js/views/photo.js')
    script(type='text/javascript', src='/static/js/views/rating.js')
    script(type='text/javascript', src='/static/js/views/setting.js')
    script(type='text/javascript', src='/static/js/views/guests.js')
    script(type='text/javascript', src='/static/js/views/favs.js')
    script(type='text/javascript', src='/static/js/views/userphoto.js')
    script(type='text/javascript', src='/static/js/script/base.js')
    script(type='text/javascript', src='/static/js/script/dialogs.js')
    script(type='text/javascript', src='/static/js/script/statuses.js')
  block bodyMain