div.icl#profile-arrow-up
div.icl#profile-arrow-down
ul.chatLine
  each dialog in dialogs.models
    li(data-user='#{dialog.get('id')}')
      img(src='#{dialog.get('avatar_url')}')
      span=dialog.get('name')
  //
    li
      img(src='/static/img/dialog/userpic.png')
      span