ul.chatLine
  li
    img(src='../static/img/dialog/userpic.png')
    span Вениамин
  li
    img(src='../static/img/dialog/userpic.png')
    span Валентиин Петрович
  li
    img(src='../static/img/dialog/userpic.png')
    span Вениамин
  li.active
    img(src='../static/img/dialog/userpic.png')
    span Валентиин Петрович
  li
    img(src='../static/img/dialog/userpic.png')
    span Вениамин
  li
    img(src='../static/img/dialog/userpic.png')
    span Валентиин Петрович
  li
    img(src='../static/img/dialog/userpic.png')
    span Вениамин
  li.active
    img(src='../static/img/dialog/userpic.png')
    span Валентиин Петрович
  li
    img(src='../static/img/dialog/userpic.png')
    span Вениамин
  li
    img(src='../static/img/dialog/userpic.png')
    span Валентиин Петрович