
.chatContainer.clearfix
  .chatBlock(data-user="#{user.id}")
    a(href='/user/'+user.id)
      img(src='#{user.avatar_url}')
    .topPart
      .chatName #{user.name}, 
          small=user.age
      //- .invite пригласить в путешествие
      .closeChat закрыть
    .centerPart
    .bottomPart.clearfix
      input(type='text')
      .pstMsg.fui-bubble
  // .chatBlock
    img(src='/static/img/dialog/userpic.png')
    .topPart
      .chatName Вениамин
      .invite пригласить в путешествие
      .closeChat закрыть
    .centerPart
    .bottomPart.clearfix
      input(type='text')
      .pstMsg
  // .chatBlock.darkBlock
    img(src='/static/img/dialog/userpic.png')
    .topPart
      .chatName Вениамин
      .invite пригласить в путешествие
      .closeChat закрыть
    .centerPart
      .record
        .recordAuthor Вениамин
        .recordText Завтра вылетаю, есть билет на халяву, кто со мной?
      .record
        .recordAuthor Мария
        .recordText Завтра вылетаю, есть билет на халяву, кто со мной?
      .record
        .recordAuthor Вениамин
        .recordText Завтра вылетаю, есть билет на халяву, кто со мной?
      .record
        .recordAuthor Мария
        .recordText Завтра вылетаю, есть билет на халяву, кто со мной?
    .bottomPart.clearfix
      input(type='text')
      .pstMsg
  // .chatBlock
    img(src='/static/img/dialog/userpic.png')
    .topPart
      .chatName Вениамин
      .invite пригласить в путешествие
      .closeChat закрыть
    .centerPart
      .record
        .recordAuthor Вениамин
        .recordText Завтра вылетаю, есть билет на халяву, кто со мной?
      .record
        .recordAuthor Мария
        .recordText Завтра вылетаю, есть билет на халяву, кто со мной?
      .record
        .recordAuthor Вениамин
        .recordText Завтра вылетаю, есть билет на халяву, кто со мной?
      .record
        .recordAuthor Мария
        .recordText Завтра вылетаю, есть билет на халяву, кто со мной?
    .bottomPart.clearfix
      input(type='text')
      .pstMsg
  // .chatBlock.darkBlock
    img(src='/static/img/dialog/userpic.png')
    .topPart
      .chatName Вениамин
      .invite пригласить в путешествие
      .closeChat закрыть
    .centerPart
      .record
        .recordAuthor Вениамин
        .recordText Завтра вылетаю, есть билет на халяву, кто со мной?
      .record
        .recordAuthor Мария
        .recordText Завтра вылетаю, есть билет на халяву, кто со мной?
      .record
        .recordAuthor Вениамин
        .recordText Завтра вылетаю, есть билет на халяву, кто со мной?
      .record
        .recordAuthor Мария
        .recordText Завтра вылетаю, есть билет на халяву, кто со мной?
    .bottomPart.clearfix
      input(type='text')
      .pstMsg
  // .chatBlock
    img(src='/static/img/dialog/userpic.png')
    .topPart
      .chatName Вениамин
      .invite пригласить в путешествие
      .closeChat закрыть
    .centerPart
      .record
        .recordAuthor Вениамин
        .recordText Завтра вылетаю, есть билет на халяву, кто со мной?
      .record
        .recordAuthor Мария
        .recordText Завтра вылетаю, есть билет на халяву, кто со мной?
      .record
        .recordAuthor Вениамин
        .recordText Завтра вылетаю, есть билет на халяву, кто со мной?
      .record
        .recordAuthor Мария
        .recordText Завтра вылетаю, есть билет на халяву, кто со мной?
    .bottomPart.clearfix
      input(type='text')
      .pstMsg