.chatBlock(data-user="#{dialog.get('user').id}")
  img(src='#{dialog.get("user").avatar_url}')
  .topPart
    .chatName=dialog.get('user').name
    .invite пригласить в путешествие
    .closeChat закрыть
  .centerPart
  .bottomPart.clearfix
    input(type='text')
    .pstMsg