//- button(onclick="var audio = document.getElementById('testClip');audio.play();")
//-   | play test audio
//- audio#testClip(name='testClip', controls='', preload='auto')
//-   source(src='http://msk2.cydev.ru:8080/1,01525c9283e5ca')
.mainWrapper.cleafix
  header
    a.hLogo(href='/')
      span попутчики.ru
      span.small  - знакомься и лети..;)
    ul.navigation
      li#header-profile.header-profile-statuses
        span статусы попутчиков
      li#header-journeys
        span знакомства
      li#header-exit
        span выход
  include menu
  .mainTopContainer.clearfix
    //-include top_bar
  .mainContainer.clearfix
    .mainContent.clearfix
      .mainContentProfile
        //-include profile
      //-include guests
        //-include dialog
        //-include statuses
        //-include guest_profile
        //-include search
    .photoVideoBlock
      //- include photo_video
    //-include guest_photo_video
    //-include search_photo_video
    //-include chat_line
  - var footerenter = true;
  include footer
.popupBack
.popupWrapper
  .popupInnerBack
  include popup-letsgo
  include popup-photo
  include popup-video
  include popup-avatar
  include popup-promo
  include popup-choose  
  include popup-rating
  include popup-vip
  include popup-info
  include popup-likers
  include popup-video
  include popup-presents

div#notification-sound