- try { bool = footerenter; } catch(err) { bool = false; }
footer(class='#{bool ? "" : "footerLogin"}')
  .fLogo
    span попутчики
  ul.aboutInfo
    li(data-view="aboutus")
      span о нас
    li(data-view="terms")
      span правила
    //- li(data-view="rating")
    //-   span рейтинг