.leftBox.profileGuest
  .profileBox
    .imgBox
      img(src=user.avatar_url)
    #profile-rating 96%
  .searchBox.profileAction        
    .write 
      .fui-bubble.act
      .myaction Написать сообщение
    .add 
      if is_fav
        .fui-star-2.act(style="color:grey;")
        .myaction #{user.name} у вас в избранных 
          a.remove_from_fav.custom-link убрать
      else
        .fui-star-2.act
        .myaction.add_to_fav Добавить в избранное
    .show 
      .fui-radio-checked.act
      .myaction.to_journey Показать путешествие