.leftBox.profileGuest
  .profileBox
    .imgBox
      img(src='/static/img/b_userpic.png')
    #profile-rating 96%
  .searchBox.profileAction
    .fui-bubble
    .fui-star-2
    .fui-radio-checked
    .write Написать сообщение
    .add Добавить в избранное
    .show Показать путешествие