.leftBox.profileGuest
  .profileBox
    .imgBox
      img(src=user.avatar_url)
    #profile-rating 96%
  .searchBox.profileAction        
    .write 
      .fui-bubble.act
      .myaction Написать сообщение
    .add 
      .fui-star-2.act
      .myaction Добавить в избранное
    .show 
      .fui-radio-checked.act
      .myaction Показать путешествие