.leftBox.profileGuest
  .profileBox
    img(src='../static/img/b_userpic.png')
    #profile-rating 96%
  .searchBox.profileAction
    .write Написать сообщение
    .add Добавить в избранное
    .show Показать путешествие