.leftBox.profileGuest
  .profileBox(class= user.vip?"":"no-vip")
    .imgBox
      img(src=user.avatar_url)
    if user.vip
      #profile-rating VIP-статус
  if (user.audio_url)
    .playerBox.clearfix
      .audio.audio-change-avatar
        audio()
          //- source(src='/static/audio/audio.mp3', type="audio/mp3")
          //- source(src='/static/audio/audio.ogg', type="audio/ogg")
          source(src=user.audio_url)
      .timeBar
        .progress
  .searchBox.profileAction        
    .write 
      .fui-bubble.act
      .myaction Написать сообщение
    
    if is_fav
      .add.fav-action
        .fui-star-2.act(style="color:grey;")
        .myaction 
          a.remove_from_fav.custom-link Убрать из избрыннх
    else
      .add.fav-action
        .fui-star-2.act
        .myaction.add_to_fav Добавить в избранное
    .show 
      .fui-radio-checked.act
      .myaction.to_journey Пригласить путешествие
    div(class = is_in_blacklist ? "add in_blacklist" : "add not_in_blacklist")
        .fui-lock.act
        if is_in_blacklist
          a.myaction.to_blacklist.custom-link убрать из черного списка
        else
          a.myaction.to_blacklist.custom-link добавить в черный список