.leftBox.profileGuest
  .profileBox
    .imgBox
      img(src=user.avatar_url)
    #profile-rating 96%
  .searchBox.profileAction        
    .write 
      .fui-bubble.act
      .myaction Написать сообщение
    .add 
      .fui-star-2.act
      if is_fav
        .myaction #{user.name} у вас в избранных 
          br
          a.remove_from_fav Убрать
      else
        .myaction.add_to_fav Добавить в избранное
    .show 
      .fui-radio-checked.act
      .myaction Показать путешествие