.leftBox
  .profileBox
    img(src='../static/img/b_userpic.png')
    #profile-rating 96%
  .searchBox
    .searchBody.clearfix#my-wishes
      h1 мои предпочтения
      .greenDots
      #search-age Возраст
      .ageBox.clearfix
        span От
        .ageFrom
          input#search-age-from(type='text',  maxlength="2")
        span до
        .ageTo
          input#search-age-to(type='text',  maxlength="2")
      .greenDots
      #search-sex Пол
      .sexBox.clearfix
        .manBox
          .box
          span Мужчины
        .womanBox
          .box.checked
          span Женщины
      .greenDots
      span#search-places Cтраны/города
      .mainSelectElement.searchCountry.withShadow
        input#search-select(placeholder='...', type='text',  maxlength="20")
        .dd
        .du
        ul.droped.withShadow
          li.dl Россия
          li.dl Африка
          li.dl Европа
      .nearBox.clearfix
        .box.checked
        span Искать рядом
      .tagsBox.clearfix#tb-s
      .greenDots
      .slideDown#search-slidedown Поиски попутчиков
    .searchBody.clearfix#my-folowers
      h1 поиски попутчиков
      .greenDots
      #seasons Сезоны:
      .seasonsBox.clearfix
        .season
          span весна
        .season
          span лето
        .season.seasonChecked
          span осень
        .season
          span зима
      .greenDots
      span#search-places-f Cтраны/города
      .mainSelectElement.searchCountry.withShadow
        input#search-select-f(placeholder='...', type='text',  maxlength="20")
        .dd
        .du
        ul.droped.withShadow
          li.dl Россия
          li.dl Африка
          li.dl Европа
      .nearBox.clearfix
        .money-icon
          .tooltip.clearfix
            .tooltip-arrow
            span Денежка
        .house-icon
          .tooltip.clearfix
            .tooltip-arrow
            span Домик
      .tagsBox.clearfix#tb-f
      .greenDots
      .slideDown#search-slideup Мои предпочтения