.leftBox
  .profileBox
    .imgBox
      img(src=user.avatar_url)
      .cover
      span#change-avatar Изменить фото
    #profile-rating рейтинг
  .searchBox
    .searchBody.clearfix#my-wishes
      h1 мои предпочтения
      .greenDots
      #search-age Возраст
      .ageBox.clearfix
        span От
        .ageFrom
          input#search-age-from(type='text',  maxlength="2", value=user.likings_age_min)
        span до
        .ageTo
          input#search-age-to(type='text',  maxlength="2", value=user.likings_age_max)
      .greenDots
      #search-sex Пол
      .sexBox.clearfix
        .manBox
          .box
          span Мужчины
        .womanBox
          .box.checked
          span Женщины
      .greenDots
      span#search-places Cтраны/города
      .mainSelectElement.searchCountry.withShadow
        input#search-select(placeholder='...', type='text',  maxlength="20")
        .dd
        .du
        ul.droped.withShadow
          li.dl Россия
          li.dl Африка
          li.dl Европа
      .nearBox.clearfix
        .box.checked
        span Искать рядом
      .tagsBox.clearfix#tb-s
      .greenDots
      .slideDown#search-slidedown Поиски попутчиков
    .searchBody.clearfix#my-folowers
      h1 поиски попутчиков
      .greenDots
      #seasons Сезоны:
      .seasonsBox.clearfix
        div(id = "spring", class = user.seasons.indexOf("spring")>-1 ? "season seasonChecked" : "season")
            span весна
        div(id = "summer", class = user.seasons.indexOf("summer")>-1 ? "season seasonChecked" : "season")
          span лето
        div(id = "autumn", class = user.seasons.indexOf("autumn")>-1 ? "season seasonChecked" : "season")
          span осень
        div(id = "winter", class = user.seasons.indexOf("winter")>-1 ? "season seasonChecked" : "season")
          span зима
      .greenDots
      span#search-places-f Cтраны/города
      .mainSelectElement.searchCountry.withShadow
        input#search-select-f(placeholder='...', type='text',  maxlength="20")
        .dd
        .du
        ul.droped.withShadow
          li.dl Россия
          li.dl Африка
          li.dl Европа
      .nearBox.clearfix
        .money-icon
          .tooltip.clearfix
            .tooltip-arrow
            span Денежка
        .house-icon
          .tooltip.clearfix
            .tooltip-arrow
            span Домик
      .tagsBox.clearfix#tb-f
      .greenDots
      .slideDown#search-slideup Мои предпочтения
  div
    span.lp
    span.rp
      .profile-search
        span 
          span.fui-search 
          Найти