-var vk_link = '/api/auth/vk/start'
-var fb_link = '/api/auth/fb/start'
-var od_link = '/api/auth/odnoklassniki/start'
.page-container.container-fluid.loginRegisterBody
  header
    .hLogo
      span попутчики.ru
    ul.navigation
      li#header-profile.header-profile-register.not-active
        span зарегистрироваться
      li#header-profile.clicklogin.active
        span войти
  include background
  form.loginRegisterBlock
    .enterContainer.clearfix
      .title войти в свой аккаунт
      .greenDots
      span.error
        span.fui-alert
        span.error-text  неверный логин или пароль!
      input#login(type='text', placeholder='Логин', name='email')
      input#password(type='password', placeholder='Пароль', name='password')
      .rememberBox
        .box.checked
        span Запомнить меня
        a#forgot-password Забыли пароль?
      .profile-edit-slideup.blogin
        span войти
      .title или через свой аккаунт
      .greenDots
      .profile-edit-slideup.fb
        span
          a(href=fb_link) facebook
      .profile-edit-slideup.vk
        span
          a(href=vk_link) вконтакте
      .profile-edit-slideup.od
        span 
          a(href=od_link) одноклассники
  include footer