.loginRegisterBody  
  header
    .hLogo
      span попутчики.ru
    ul.navigation
      li#header-profile
        span зарегистрироваться
  form.loginRegisterBlock
    .enterContainer.clearfix
      .title войти в свой аккаунт
      .greenDots
      span.error 
        span.fui-alert
        span  неверный логин или пароль!
      input#login(type='text', placeholder='Логин', name='email')
      input#password(type='password', placeholder='Пароль', name='password')
      .rememberBox
        .box.checked
        span Запомнить меня
        a Забыли пароль?
      .profile-edit-slideup.blogin
        span войти
      .title или через свой аккаунт
      .greenDots
      .profile-edit-slideup.fb
        span facebook
      .profile-edit-slideup.vk
        span вконтакте
  footer.footerLogin
    .fLogo
      span попутчики
    ul.aboutInfo
      li
        span о нас
      li
        span правила
      li
        span рейтинг
