-var vk_link = '/api/auth/vk/start'
-var fb_link = '/api/auth/fb/start'
-var od_link = '/api/auth/odnoklassniki/start'
.page-container.container-fluid.loginRegisterBody
  header
    .hLogo
      span попутчики.ru
    ul.navigation
      li#header-profile.header-profile-register.not-active
        span зарегистрироваться
      li#header-profile.clicklogin.active
        span войти
  include background
  .site-title
    h1 Бесплатный сайт знакомств для совместных путешествий
  form.loginRegisterBlock
    .enterContainer.clearfix
      .title войти в свой аккаунт
      .greenDots
      span.error
        span.fui-alert
        span.error-text  неверный логин или пароль!
      input#login(type='text', placeholder='Логин', name='email')
      input#password(type='password', placeholder='Пароль', name='password')
      .rememberBox
        .box.checked
        span Запомнить меня
        a#forgot-password Забыли пароль?
      .profile-edit-slideup.blogin
        span войти
      .title или через свой аккаунт
      .greenDots
      .profile-edit-slideup.fb
        span
          a(href=fb_link) facebook
      .profile-edit-slideup.vk
        span
          a(href=vk_link) вконтакте
      .profile-edit-slideup.od
        span 
          a(href=od_link) одноклассники
  .mainWrapper.clearfix
    .textContent
      .layout
          .desc
            p.h2 Билет в кармане, такси в аэропорт, еще пару часов, и Москва станет похожей на крошечный островок из бетона, изрезанный серыми улицами. Есть и другой вариант — дорога, поднятый к верху большой палец на вытянутой руке, а впереди тысяча километров и море новых впечатлений. Так начинается то, чего все мы ждем с нетерпением — путешествие.
            p 
              | Стоп! А как же компания? Путешествовать в одиночестве скучно, неинтересно, дорого. Нужен попутчик в отпуск? Нет проблем! Используйте 
              strong интернет-сайт знакомств 
              | Poputchiki.ru, чтобы ездить по всему миру, находя новых друзей по интересам. </p>
          
          h2 Как найти попутчика на отдых?
          .greenDots
          .desc 
            ul
              li Заходите на Poputchiki.ru, регистрируйтесь и создавайте вой аккаунт — это очень просто! 
              li Просматривайте анкеты участников, ищите попутчиков и выбирайте тех, кто нравится.
              li Приглашайте присоединиться к собственному путешествию из Москвы и других городов или предлагайте свой вариант отдыха.
              li Общайтесь лично и через сеть знакомств, делитесь информацией о поездках, выкладывайте фотки и ролики.
              li Получайте удовольствие от общения с интересными людьми, живите так, как хочется, дышите полной грудью!
          h2 Чем хорош онлайн-сайт знакомств Poputchiki.ru?
          .greenDots
          .desc 
              p Самое важное — тематика. Это не просто бесплатный сайт знакомств, которых в Сети сейчас масса. Сервис позволяет находить единомышленников, спонсоров и просто увлеченных путешествиями людей, которые готовы составить компанию, частично или полностью оплатить вашу поездку. Здесь можно найти свою судьбу и съездить в один из роскошных отелей ОАЭ, спонсора для восхождения на Эльбрус, классного собеседника, друга или подругу. Это бесплатная сеть знакомств, объединяющая всех, кто живет свободно, активно и нацелен на познание. 
              p стали от одиночества или хотите развеяться? Пришло время сообщить всем: «Хочу отдохнуть! Ищу попутчика!». Путешествие, полное позитивных эмоций, после этого вам гарантировано! Заводите знакомства в Москве и других городах на Poputchiki.ru, чтобы ездить по миру, общаться с неординарными людьми, жить интересно и весело! 

  include footer