.menuBox
  ul.leftMenu#left-menu
    li#menu-messgaes
      .menuIcon.new
        div 12
      span сообщения
    li#menu-favorites
      .menuIcon
      span избранное
    li#menu-photos
      .menuIcon
      span избранные
    li#menu-rating
      .menuIcon
      span рейтинг
    li#menu-tools
      .menuIcon
      span настройки
  ul.letsGo
    li#menu-go
      .menuIcon
      span хочу поехать!