.menuBox
  ul.leftMenu#left-menu
    li#menu-profile
      .fui-user
      span профиль
    li#menu-messgaes
      .menuIcon.new
        div 
      span сообщения
    li#menu-favorites
      .menuIcon
      span избранное
    li#menu-photos
      .menuIcon.new
        div 12
      span гости
    li#menu-rating
      .menuIcon
      span рейтинг
    li#menu-tools
      .menuIcon
      span настройки
  //- ul.letsGo
  //-   li#menu-go
  //-     .menuIcon
  //-     span хочу поехать!