.mainWrapper.cleafix(style="background-color:#53cbe1")
    .not-found
        img(src='/static/img/logobig.png')
        h1=not_found_text
        p Вы можете 
            a(href="http://poputchiki.ru/",class="custom-link") перейти на главную страницу сайта