.photoVideoBlock
  .photoHeaderBox
    .photoHeader.activeHeader
      .title 
        span фото
    .videoHeader
      .title
        span видео
    span.addPhoto Добавить фото
  .photoBox
    .view
      .view-back
        span
          div 1140
          i.icon-eye-open
        span
          div 754
          i.icon-heart
      .slice.s1(style="background-image: url('../static/img/photo1.png');")
        span.overlay
        .slice.s2(style="background-image: url('../static/img/photo1.png');")
          span.overlay
          .slice.s3(style="background-image: url('../static/img/photo1.png');")
            span.overlay
            .slice.s4(style="background-image: url('../static/img/photo1.png');")
              span.overlay
              .slice.s5(style="background-image: url('../static/img/photo1.png');")
                span.overlay
    .imgGrid.clearfix
      img.odd(src='../static/img/photo1.png')
      img(src='../static/img/photo1.png')
      img.odd(src='../static/img/photo1.png')
      img(src='../static/img/photo1.png')
      img.odd(src='../static/img/photo1.png')
      img(src='../static/img/photo1.png')
  .videoBox