div#profile-arrow-up
div#profile-arrow-down
.photoHeaderBox
  .photoHeader.activeHeader
    .title 
      span фото
  .videoHeader
    .title
      span видео
  .addPhoto
    span Добавить фото
  form.photovideoform(style="display:none")
      span Добавить фото
      .photo-load
        .button
          button Загрузить фотографию
          input(type='file')
      input.photovideoformfile(type="file", name="file", style="visibility: hidden;")
.photoBox
  .photoBoxWrapper.clearfix
    .pb-wr.clearfix
.videoBox
  .photoBoxWrapper.clearfix
    .pb-wr.clearfix
      img(src='/static/img/photo1.png')
