.view-back
  span
    div 1140
    i.icon-eye-open
    a(href="http://www.flickr.com/photos/ag2r/5439506585/in/photostream")
  span
    div 754
    i.icon-heart
.slice.s1(style="background-image: url('"+url+"');")
      span.overlay
      .slice.s2(style="background-image: url('"+url+"');")
        span.overlay
        .slice.s3(style="background-image: url('"+url+"');")
          span.overlay
          .slice.s4(style="background-image: url('"+url+"');")
            span.overlay
            .slice.s5(style="background-image: url('"+url+"');")
              span.overlay
 
        
 