.popup.ratingPopup
  a(href='#', class='closepopup') Закрыть
  form
    h1 Рейтинг
    .greenDots
    p На нашем сайте действует система рейтингов, с помощью которой определяется положение вашей страницы в  результатах поиска. Чем выше рейтинг, тем больше шансов, что напишут именно Вам. При регистрации Ваш рейтинг составляет 100 процентов и зависит от активности на сайте.
    .profileBox
      .imgBox
        img(src='/static/img/b_userpic.png')
      .profile-rating 100%
    .textBox.clearfix
      p Преимущества высокого рейтинга:
      p.pnct - Принимайте больше гостей
        br
        | на своей страничке
      p.pnct - Знакомьтесь с новыми людьми
      p.pnct - Приглашайте «попутчиков» в увлекательные поездки
      p.pnct - Получайте массу новых впечатлений
    h2 Поднимайте свой рейтинг в системе: 
    .greenDots
    //- p Вы можете бесплатно поднять свой рейтинг в нашей системе. Чтобы поднять свой рейтинг бесплатно можно выполнять следующие действия:
    .button-container
      .regButton.profile-edit-slideup.show-vip
        span повысить рэйтинг
    p.pnct(style="color:white") Добавляйте свое фото или видео-приветствие в фото-ленту* Добавляйте свое фото или видео-приветствие в фото-ленту* 
    p.pnct 
      b - Добавляйте свое фото или видео-приветствие в фото-ленту* 
    p.pnct - Обновляйте статус 
    p.pnct - Общайтесь с «попутчиками»
    p.pnct - Выкладывайте свои фото и видео
    p.pnct - Оценивайте фотографии 
    p.pnct - Просматривайте страницы других пользователей
    
    //- .greenDots
    //- p Тут какой-то текст про то, чем черевато платное продвижение.
    //- .bilContainer.clearfix
    //-   .regButton.profile-edit-slideup.upload-money
    //-     span повысить рейтинг
    //-   .price 30 
    //-     small рублей