.popup.photoPopup
  a(href='#', class='closepopup') Закрыть
  .imgBox
    .arrow-left
    .arrow-right
    img(src='/static/img/photo1.png')
  .infoBox.clearfix
    img(src='/static/img/statuses/userpic.png')
    .leftPart     
      .name-in-profile Вениамин Петров, 23
      .city-in-profile Москва