.popup.popupInfo
  .popupHeaderBox.clearfix
  .popupBody.clearfix
    span.pop-t.infopopup-title
      span.fui-alert 
      |  :
    p.infopopup-text 
    .regButton.profile-edit-slideup.closepopup
      span ОК