.popup.chavaPopup.clearfix
  a(href='#', class='closepopup') Закрыть
  form.audioform
    h1 Изменить аватар
    .greenDots
    .changeAvatarBox.clearfix
      img(src='/static/img/b_userpic.png')
      .popupArrow
      .controlBox
        .mainSelectElement.upload-new-ava
          span Выбрать новое фото
        input.upload-new-ava-input(type='file')
        //- #delete-avatar Удалить
  //-   h2 Аудио-приветствие
  //-   .greenDots
  //-   p Загрузите аудио-приветствие, чтобы ваш голос могли услышать ваши друзья и получите еще больше посещений для своего профайла!
  //-   .playerBox.clearfix
  //-     h2 Добавтье аудио-приветствие
  //-     //- .audio.audio-change-avatar
  //-     //-   audio
  //-     //-     source(src='/static/audio/audio.mp3', type="audio/mp3")
  //-     //-     source(src='/static/audio/audio.ogg', type="audio/ogg")
  //-     //- .timeBar
  //-     //-   .progress
  //-   .mainSelectElement.upload-new-audio
  //-     span Загрузить файл
  //-   input.upload-new-audio-input(type='file', name='file')
  //- form.avatarform(style="display:none")
  //-   input.upload-new-avatar-input(type='file', name='file')
  //- .regButton.profile-edit-slideup.save-new-ava-audio
  //-   span сохранить