.popup.videoPopup
  a(href='#', class='closepopup') Закрыть
  .videocontainer
    //- video(poster="https://cdn.cydev.ru/3,0152a8592f7cff",controls="controls")
    //-   source(src="https://cdn.cydev.ru/6,0152ab9540c794",type="video/webm",codecs="vp8, vorbis")
  .infoBox.clearfix