img(src='#{user.get("avatar_url")}')
.leftPart
  .name-in-profile=user.get('name')
  .city-in-profile=user.get('city')
.rightPart
  //- span.custom-link.remove-photo='удалить'
  //- span.custom-blue-link.make-avatar='сделать аватаркой'