//- .popup
//-   a(href='#', class='closepopup') Закрыть
//-   form
//-     h1 Отправить подарок
//-     .greenDots
//-     .presents-container
//-     h2 Добавиться в фото-ленту за 50 попиков
//-     .greenDots
//-     .bilContainer.clearfix
//-       .regButton.profile-edit-slideup.upload-money
//-         span(class="menu-settings", data-id="payment") пополнить счет
//-       .price
//-         small у вас на счету 
//-         span 30 
//-         small попиков
//-   .regButton.profile-edit-slideup.add-to-promo
//-     span Стань популярным


.popup.presetnsPopup
  form.uplfrm
    h1 Отправить подарок
    .greenDots
    .wrp
      img(src='/static/img/searchpreloader.GIF', class="loading-gif")
    .greenDots
    h2 Отправить подарок за 
      span.present-for-user-cost 0
      |  монет 
    .bilContainer.clearfix
      .regButton.profile-edit-slideup.upload-money
        span(class="menu-settings", data-id="payment") пополнить счет
      .price
        small у вас на счету 
        span 30 
        small монет
  br
  br
  .regButton.profile-edit-slideup.add-to-promo
    span  Отправить подарок пользователю
