.popup.vipPopup
  a(href='#', class='closepopup') Закрыть
  form
    h1 ПОЛУЧЕНИЕ VIP-СТАТУСА
    .greenDots
    p VIP-статус позволит Вам пользоваться теми функциями, которые не доступны для обычных пользователей


    h2 Узнайте кто добавляет вас в избранное
    .greenDots

    .vip-status-icon-block
      .fui-star-2
      
    .textBox.clearfix
      p.pnct - Смотрите пользователей, которые добавили Вас в избранное
      p.pnct - Получайте уведомление на почту, когда Вас добавят в избранное 

    h2 Режим невидимки
    .greenDots

    .vip-status-icon-block
      .fui-eye
      
    .textBox.clearfix
      p.pnct - Не хотите, чтобы пользователи видели, что Вы заходите к ним на страницу?
      p.pnct - Вы всегда можете включить и выключить режим невидимки в настройках

    h2  Статусы путешествий
    .greenDots
    .vip-status-icon-block
      .fui-list-bulleted
      
    .textBox.clearfix
      p.pnct - Сообщайте всем пользователям о своих путешествиях чаще
      p.pnct - Вы можете три раза в день добавлять новый статус

    h2   Расширенный поиск
    .greenDots
    .vip-status-icon-block
      img(src='/static/img/money_active2.png')
      
    .textBox.clearfix
      p.pnct - Включайте дополнительыне фильтры поиска
      p.pnct - Ищите только тех людей, кто готов взять на себя расходы на путешествие
    h2 Подключить  VIP-статус
    .greenDots
    .bilContainer.clearfix
      .regButton.profile-edit-slideup.upload-money
        span.active-vip(data-vip-time='week') включить 
      .price 400
        small  попиков
          span (1 - неделя)
    .bilContainer.clearfix
      .regButton.profile-edit-slideup.upload-money
        span.active-vip(data-vip-time='month') включить 
      .price 1000
        small  попиков
          span (1 - месяц)