.popup.videoPopup
  a(href='#', class='closepopup') Закрыть
  .imgBox
    iframe(src="//www.youtube.com/embed/ZtxO1gwbHPQ", frameborder="1")
  .infoBox.clearfix
    img(src='../static/img/statuses/userpic.png')
    .leftPart     
      .name-in-profile Вениамин Петров, 23
      .city-in-profile Москва