.popup.ratingPopup
  a(href='#', class='closepopup') Закрыть
  form
    h1 Рейтинг
    .greenDots
    p Тут общий текст про систему рейтинга. Для чего он нужен пользователю и какие преимущества может получить пользователь с высоким рейтингом.
    .profileBox
      .imgBox
        img(src='/static/img/b_userpic.png')
      .profile-rating 100%
    .textBox.clearfix
      p Ваши перимущества от высокого рейтинга:
      p.pnct - высокая посещаемость
      p.pnct - больше новых знакомств
      p.pnct - масса новых впечатлений
      p.pnct - приглашения в увлекательные поездки
      p.pnct - еще что-нибудь полезное...
    h2 Бесплатное продвижение
    .greenDots
    p Вы можете бесплатно поднять свой рейтинг в нашей системе. Чтобы поднять свой рейтинг бесплатно можно выполнять следующие действия:
    p.pnct - добавлять свои фото/видео
    p.pnct - просматривать страницы других пользователей
    p.pnct - оценивать фотографии пользователей
    p.pnct - менять статус один раз в день
    p.pnct - комментировать статусы других пользователей
    h2 Платное продвижение
    .greenDots
    p Тут какой-то текст про то, чем черевато платное продвижение.
    .bilContainer.clearfix
      .regButton.profile-edit-slideup.upload-money
        span повысить рейтинг
      .price 30 
        small рублей