.popup.promoPopup
  a(href='#', class='closepopup') Закрыть
  form
    h1 Добавиться в фото-ленту
    .greenDots
    .changeAvatarBox.clearfix
      img(src='/static/img/b_userpic.png',id="promo-add-photo")
      .popupArrow
      .crsItem
        img(src='/static/img/crs_item.png')
        //- .videoBox
        //-   .frontLayer
        //-   video
        //-     source(src="/static/video/gizmo.mp4", type="video/mp4", codecs="avc1.42E01E, mp4a.40.2")
        //-     source(src="/static/video/gizmo.webm", type="video/webm", codecs="vp8, vorbis")
        //-     source(src="/static/video/gizmo.ogv", type="video/ogg", codecs="theora, vorbis")
        //- .video
      .crsItem
        img(src='/static/img/crs_item.png')
        //- .videoBox
        //-   .frontLayer
        //-   video
        //-     source(src="/static/video/gizmo.mp4", type="video/mp4", codecs="avc1.42E01E, mp4a.40.2")
        //-     source(src="/static/video/gizmo.webm", type="video/webm", codecs="vp8, vorbis")
        //-     source(src="/static/video/gizmo.ogv", type="video/ogg", codecs="theora, vorbis")
        //- .video
      .crsItem
        img(src='/static/img/crs_item.png')
        //- .videoBox
        //-   .frontLayer
        //-   video
        //-     source(src="/static/video/gizmo.mp4", type="video/mp4", codecs="avc1.42E01E, mp4a.40.2")
        //-     source(src="/static/video/gizmo.webm", type="video/webm", codecs="vp8, vorbis")
        //-     source(src="/static/video/gizmo.ogv", type="video/ogg", codecs="theora, vorbis")
        //- .video
    .choose-photo.active
      //- h2 Выбрать фото-ленту
      //- .greenDots
      .chooseBox.clearfix
        .mainSelectElement.promo-photo
          span Выбрать фото
        .regButton.profile-edit-slideup.upload-money
            span добавить в ленту
      p Добавляйте в фото-ленту свои фотографии, которые увидят все пользователи. Чем чаще Вы выкладываете фотографии, тем больше шансов, что попутчик зайдет на Вашу страницу и пригласит в путешествие.
    //- .choose-audio.active
    //-   h2 Выбрать аудио-ленту
    //-   .greenDots
    //-   p Загрузите аудио-приветствие, чтобы ваш голос могли услышать ваши друзья и получите еще больше посещений для своего профайла!
    //-   .playerBox.clearfix(style="display:none")
    //-     .audio.audio-change-avatar
    //-       audio
    //-         //source(type="audio/ogg")
    //-         //source(src='/static/audio/audio.mp3', type="audio/mp3")
    //-         //source(src='/static/audio/audio.ogg', type="audio/ogg")
    //-     .timeBar
    //-       .progress
    //-   .mainSelectElement.upload-new-audio
    //-     span Прикрепить аудио-приветствие
    //-   input.upload-new-audio-input(type='file')
    //- .choose-video.active
    //-   h2 Добавить видео-ленту
    //-   .greenDots
    //-   p Создайте свою уникальную видео-аватарку и еще больше выделите свой профайл среди тысячи остальных!
    //-   .videoContainer.clearfix
    //-     .crsItem
    //-       img(src='/static/img/crs_item.png')
    //-       .videoBox
    //-         .frontLayer
    //-         video
    //-           source(src="/static/video/gizmo.mp4")
    //-           //- source(src="/static/video/gizmo.webm", type="video/webm", codecs="vp8, vorbis")
    //-           //- source(src="/static/video/gizmo.ogv", type="video/ogg", codecs="theora, vorbis")
    //-       .video
    //-     .mainSelectElement.upload-new-video
    //-       span Выбрать видео
    //-     input.upload-new-audio-input(type='file')
    h2 Добавиться в фото-ленту за 50 попиков
    .greenDots
    .bilContainer.clearfix
      .regButton.profile-edit-slideup.upload-money
        span(class="menu-settings", data-id="payment") пополнить счет
      .price
        small у вас на счету 
        span 30 
        small попиков
    //- br
    //- br
    //- h2 Добавится в промоленту стоит 50 попиков
    //- .greenDots
    //- .bilContainer.clearfix
    //-   .regButton.profile-edit-slideup.upload-money
    //-     span() Добавить в ленту
  .regButton.profile-edit-slideup.add-to-promo
    span Стань популярным