body
  .page-container.container-fluid.loginRegisterBody
    header
      .hLogo
        span попутчики.ru
      ul.navigation
        li#header-profile.clicklogin
          span войти
    include background
    form.loginRegisterBlock.step
      .topWrap.clearfix
        .title РЕГИСТРАЦИЯ. ШАГ 2
        .greenDots
        .fill-form Присоединяйтесь к сообществу из 213 миллионов новых друзей. Чтобы запросить доступ, заполните эту форму:
      .enterContainer.clearfix
        .form-line
          span Имя:
          input(type='text', placeholder='Введите свое имя', name='name')
          p.error-text 
            span.fui-alert 
            span.error-info error-text
        .form-line.clearfix#birdth-reg
          .mainSelectElement.yearEdit.withShadow#year-select
            span#year-edit-select --
            .dd
            .du
            ul.droped.withShadow
              - for (var i = 1960; i < 1997; ++i) {
                li.dl #{i}
              - }
          .mainSelectElement.monthEdit.withShadow#month-select
            span#month-edit-select --
            .dd
            .du
            ul.droped.withShadow
              li(class="dl", month="01") Январь
              li(class="dl", month="02") Февраль
              li(class="dl", month="03") Март
              li(class="dl", month="04") Апрель
              li(class="dl", month="05") Май
              li(class="dl", month="06") Июнь
              li(class="dl", month="07") Июль
              li(class="dl", month="08") Август
              li(class="dl", month="09") Сентябрь
              li(class="dl", month="10") Октябрь
              li(class="dl", month="11") Ноябрь
              li(class="dl", month="12") Декабрь
            .statusDrop
          .mainSelectElement.dayEdit.withShadow#day-select
            span#day-edit-select --
            .dd
            .du
            ul.droped.withShadow
              li.dl 01
              li.dl 02
              li.dl 03
              li.dl 04
              li.dl 05
              li.dl 06
              li.dl 07
              li.dl 08
              li.dl 09
              li.dl 10
              li.dl 11
              li.dl 12
              li.dl 13
              li.dl 14
              li.dl 15
              li.dl 16
              li.dl 17
              li.dl 18
              li.dl 19
              li.dl 20
              li.dl 21
              li.dl 22
              li.dl 23
              li.dl 24
              li.dl 25
              li.dl 26
              li.dl 27
              li.dl 28
              li.dl 29
              li.dl 30
              li.dl 31
          span.d-r День рождения:
          p.error-text 
            span.fui-alert 
            span.error-info error-text
        .form-line
          span Ваш пол:
          .sexBox.clearfix
            .man.clearfix
              .box
              span Мужчина
            .woman.clearfix
              .box
              span Женщина
          p.error-text 
            span.fui-alert 
            span.error-info error-text
        .form-line.clearfix#country-reg
          .mainSelectElement.countryEdit.withShadow#country-select
            input.search-select(placeholder='Страна', type='text',  maxlength="20")
            .dd
            .du
            ul.droped.withShadow        
            p.error-text 
              span.fui-alert 
              span.error-info Введите город
          span.d-r Cтрана:
        .form-line.clearfix#city-reg
          .mainSelectElement.cityEdit.withShadow#city-select
            input.search-select(placeholder='Город', type='text',  maxlength="20")
            .dd
            .du
            ul.droped.withShadow
            p.error-text 
              span.fui-alert 
              span.error-info Введите город
          span.d-r Город:
        .form-line
          span Телефон:
          input#tel(type='tel', placeholder='+7 (---) --- -- --')
          p.error-text 
            span.fui-alert 
            span.error-info error-text
          p.info-text 
            span.fui-question 
            span.error-info Телефон используется для подтверждения вашего аккаунта, и не виден другим пользователям
        .form-line.clearfix
          .regButton.profile-edit-slideup.regsteptwo
            span ПРОДОЛЖИТЬ
      .soc-login 
        a(href='#') или войти с помощью соц. сети
    include footer