body
  .page-container.container-fluid.loginRegisterBody
    header
      .hLogo
        span попутчики.ru
      ul.navigation
        li#header-profile.clicklogin
          span войти
    include background
    form.loginRegisterBlock.step.clearfix
      .enterContainer.clearfix
        .title РЕГИСТРАЦИЯ. ШАГ 3
        .greenDots
        .fill-form.ff-r3 Для того чтобы больше пользователей могли оценить ваш профайл, и познакомиться с вами, добавьте свою фотографию:
      .photo-load
        .button
          button Загрузить фотографию
          input(type='file')
        .img
          img(src='/static/img/defaultavatars/no_avatar_m.gif')
        .but-wrapper
          .profile-edit-slideup.regButton.step3.regstepthree.regstepthree
              span Зарегистрироваться
        .soc-login.sl-r3 
            a(href='#') или войти с помощью соц. сети
      input#imgfile(type="file", name="file", style="visibility: hidden;")
    include footer
