body.loginRegisterBody
  header
    .hLogo
      span попутчики.ru
    ul.navigation
      li#header-profile
        span войти
  form.loginRegisterBlock.step.clearfix
    .enterContainer.clearfix
      .title
        span Регистрация окончена. 
        a.loginbutton(href="#") Логин.