-var vk_link = '/api/auth/vk/start'
-var fb_link = '/api/auth/fb/start'
-var od_link = '/api/auth/odnoklassniki/start'
.page-container.container-fluid.loginRegisterBody
  header
    .hLogo
      span попутчики.ru
    ul.navigation
      li#header-profile
        span войти
  include background
  form.loginRegisterBlock
    .enterContainer.clearfix
      .title зарегистрироваться
      .greenDots
      input#email(type='text', placeholder='Емэйл', name="email")
      input#password-reg(type='password', placeholder='Пароль', name="password")
      .noteBox
        span Регистрируясь, вы соглашаетесь с 
        a правилами
        span , установленными сайтом.
      .profile-edit-slideup.regButton.reg.regstepone
        span зарегистрироваться
      .title или через свой аккаунт
      .greenDots
      .profile-edit-slideup.fb
        span
          a(href=fb_link) facebook
      .profile-edit-slideup.vk
        span
          a(href=vk_link) вконтакте
      .profile-edit-slideup.od
        span 
          a(href=od_link) одноклассники
      .noteBox
        span Регистрируясь через свой аккаунт в социальной сети, вы соглашаетесь с 
        a правилами
        span , установленными сайтом.
  include footer