body.loginRegisterBody
  header
    .hLogo
      span попутчики.ru
    ul.navigation
      li#header-profile
        span войти
  .loginRegisterBlock
    .enterContainer.clearfix
      .title зарегистрироваться
      .greenDots
      input#email(type='text', placeholder='Емэйл')
      input#password-reg(type='text', placeholder='Пароль')
      .noteBox
        span Регистрируясь, вы соглашаетесь с 
        a правилами
        span , установленными сайтом.
      .profile-edit-slideup.regButton
        span зарегистрироваться
      .title или через свой аккаунт
      .greenDots
      .profile-edit-slideup.fb
        span facebook
      .profile-edit-slideup.vk
        span вконтакте
      .noteBox
        span Регистрируясь через свой аккаунт в социальной сети, вы соглашаетесь с 
        a правилами
        span , установленными сайтом.
  footer.footerLogin
    .fLogo
      span попутчики
    ul.aboutInfo
      li
        span о нас
      li
        span правила
      li
        span рейтинг