-var count = 265
.searchContainer.clearfix
  include leftbox
  .search
    .rightBox
      .rightHeader
        
        .results
          small Найдите себе попутчиков среди 
          span.count Миллионов
          small наших пользователей
      .gallery.clearfix
        ul
          li