-var count = 265
.searchContainer.clearfix
  include leftbox
  .search
    .rightBox
      .rightHeader
        
        .results
          small найдено 
          span.count #{count}
      .gallery.clearfix