#searchPhotoVideo
  .photoHeaderBox
    .photoHeader.activeHeader
      .title 
        span фото
    .videoHeader
      .title
        span видео
  .photoBox
    .imgGrid.clearfix
      
    //- .imgGrid.clearfix
    //-   img.odd(src='/static/img/photo1.png')
    //-   img(src='/static/img/photo1.png')
    //-   img.odd(src='/static/img/photo1.png')
    //-   img(src='/static/img/photo1.png')
    //-   img.odd(src='/static/img/photo1.png')
    //-   img(src='/static/img/photo1.png')
  .videoBox