.searchContainer.clearfix
  include leftbox
  .search
    .rightBox
      .rightHeader
        
        .results
          small Найдите себе попутчиков среди 
          span.count Миллионов
          small наших пользователей
      .gallery.clearfix
        ul
      .pagination.clearfix
        img(src='http://poputchiki/static/img/searchpreloader.GIF',class="loading-gif")
        //- button.paginationitem 1
        //- button.paginationitem 2
        //- button.paginationitem 3
        //- button.paginationitem 4