ul
  each user in users
    li
      a.ldblock(href="/user/#{user.id}", data-user-id="#{user.id}")
        img(src='/static/img/photo1.png')
        .shadow
          .favorite.link в избранное
          .some lorem
          .bot lorem ipsum 
          .link is dolor
        .info
          .name=user.name
          .city=user.city
        #online
//
  li
    img(src='/static/img/photo1.png')
    .shadow
      .favorite.link в избранное
      .some lorem
      .bot lorem ipsum 
      .link is dolor
    .info
      .name Вениамин
      .city Москва
  li
    img(src='/static/img/photo1.png')
    .shadow
      .favorite.link в избранное
      .some lorem
      .bot lorem ipsum 
      .link is dolor
    .info
      .name Вениамин
      .city Москва
    #online
  li
    img(src='/static/img/photo1.png')
    .shadow
      .favorite.link в избранное
      .some lorem
      .bot lorem ipsum 
      .link is dolor
    .info
      .name Вениамин
      .city Москва
  li
    img(src='/static/img/photo1.png')
    .shadow
      .favorite.link в избранное
      .some lorem
      .bot lorem ipsum 
      .link is dolor
    .info
      .name Вениамин
      .city Москва
    #online
  li
    img(src='/static/img/photo1.png')
    .shadow
      .favorite.link в избранное
      .some lorem
      .bot lorem ipsum 
      .link is dolor
    .info
      .name Вениамин
      .city Москва
    #online
  li
    img(src='/static/img/photo1.png')
    .shadow
      .favorite.link в избранное
      .some lorem
      .bot lorem ipsum 
      .link is dolor
    .info
      .name Вениамин
      .city Москва
    #online
  li
    img(src='/static/img/photo1.png')
    .shadow
      .favorite.link в избранное
      .some lorem
      .bot lorem ipsum 
      .link is dolor
    .info
      .name Вениамин
      .city Москва
  li
    img(src='/static/img/photo1.png')
    .shadow
      .favorite.link в избранное
      .some lorem
      .bot lorem ipsum 
      .link is dolor
    .info
      .name Вениамин
      .city Москва
    #online
  li
    img(src='/static/img/photo1.png')
    .shadow
      .favorite.link в избранное
      .some lorem
      .bot lorem ipsum 
      .link is dolor
    .info
      .name Вениамин
      .city Москва
  li
    img(src='/static/img/photo1.png')
    .shadow
      .favorite.link в избранное
      .some lorem
      .bot lorem ipsum 
      .link is dolor
    .info
      .name Вениамин
      .city Москва
    #online
  li
    img(src='/static/img/photo1.png')
    .shadow
      .favorite.link в избранное
      .some lorem
      .bot lorem ipsum 
      .link is dolor
    .info
      .name Вениамин
      .city Москва
    #online
  li
    img(src='/static/img/photo1.png')
    .shadow
      .favorite.link в избранное
      .some lorem
      .bot lorem ipsum 
      .link is dolor
    .info
      .name Вениамин
      .city Москва
    #online