-var count = 265
.searchContainer.clearfix
  include searchleftbox
  .search
    .rightBox
      .rightHeader
        .searchBox    
          input(type="text", placeholder="Я ищу...", name="search")      
          button
        .results
          small найдено 
          span.count #{count}
      .gallery.clearfix