//- #searchPhotoVideo
//-   .photoHeaderBox
//-     .photoHeader.activeHeader
//-       .title 
//-         span фото
//-     .videoHeader
//-       .title
//-         span видео
//-   .photoBox
//-     .photoBoxWrapper.clearfix
//-       .pb-wr.clearfix
      
//-     //- .imgGrid.clearfix
//-     //-   img.odd(src='/static/img/photo1.png')
//-     //-   img(src='/static/img/photo1.png')
//-     //-   img.odd(src='/static/img/photo1.png')
//-     //-   img(src='/static/img/photo1.png')
//-     //-   img.odd(src='/static/img/photo1.png')
//-     //-   img(src='/static/img/photo1.png')
//-   .videoBox

div#profile-arrow-up
div#profile-arrow-down
.photoHeaderBox
  .photoHeader.activeHeader.searchPhotoHeader
    .title 
      span 
        i.fui-image 
        |  Фото найденных попутчиков
  
.photoBox
  .photoBoxWrapper.clearfix
    .pb-wr.clearfix

.videoBox
  .photoBoxWrapper.clearfix
    .pb-wr.clearfix
      //- .photo-wrapper
      //-   div.photo-time 12
      //-   img(src='/static/img/photo1.png')
      //-   a(class="action-remove-like custom-link") нравится
      //-   span.like-counter  12
        
