.searchContainer.clearfix
  include leftbox
  .search
    .rightBox
      .rightHeader
        
        .results
          small Найдите себе Попутчика!
      .gallery.clearfix
        ul
      .pagination.clearfix
        img(src='/static/img/searchpreloader.GIF', class="loading-gif")
        //- button.paginationitem 1
        //- button.paginationitem 2
        //- button.paginationitem 3
        //- button.paginationitem 4