.photoHeaderBox
  .photoHeader.activeHeader
    .title 
      span фото
  .videoHeader
    .title
      span видео
.photoBox
  .imgGrid.clearfix     
    - for (var x = 0; x < 10; x++)
      span.photo-wrapper
        img.odd(src='../static/img/photo1.png')
        .hidden
          a(href="#")
            .span 
              span 140
              //- img(src='../static/img/heart.png')
              .fui-star-2.act
          a(href="#")
            .span 
              span 754
              //- img(src='../static/img/heart.png')
              .fui-eye.act
  //- .imgGrid.clearfix
  //-   img.odd(src='/static/img/photo1.png')
  //-   img(src='/static/img/photo1.png')
  //-   img.odd(src='/static/img/photo1.png')
  //-   img(src='/static/img/photo1.png')
  //-   img.odd(src='/static/img/photo1.png')
  //-   img(src='/static/img/photo1.png')
.videoBox