span.photo-wrapper
  img.odd(src='#{img}')
  .hidden
    a(href="#")
      .span 
        span 140
        //- img(src='../static/img/heart.png')
        .fui-star-2.act
    a(href="#")
      .span 
        span 754
        //- img(src='../static/img/heart.png')
        .fui-eye.act