.statusesContainer.clearfix
  .wantToTravelBox.clearfix
    .newStatus Новый статус
    .statusBoxCompleted.clearfix
      .statusBox#main-status
        .status
        .edit#edit-status
        .comments.clearfix
          span.delete-comments удалить
          span.share-comments поделиться
          .house-icon
          .money-icon
      .statusBoxEdit.clearfix
        h1 добавить новый статус
        .greenDots
        input#new-status(placeholder='...', type='text',  maxlength="140")
        .writeBtn#write-new-main-status
  .filterBlock
    .title.clearfix
      span поиск по статусам
      span.letsFilter.custom-link Фильтровать
      .dd.letsFilter
      .du.letsFilter
    //- .sortBy.clearfix
    //-   span Сортировать по:
    //-   span Популярноси
    //-   .act.clearfix 
    //-     span Актуальности
    //-     .dd
    //-     .du
    .filters.clearfix
      .leftPart.clearfix
        .title Откуда:
        //- .tagsBox.clearfix
        //-   .mainSelectElement.searcTagPlaces.withShadow
        //-     span.tagCountry Россия
        //-     .close
        .mainSelectElement.searchCountry.withShadow
          input.search-select(placeholder='Страна...', type='text',  maxlength="20")
          .dd
          .du
          ul.droped.withShadow
            li.dl Россия
            li.dl Африка
            li.dl Европа
        .mainSelectElement.searchCity.withShadow
          input.search-select(placeholder='Город...', type='text',  maxlength="20")
          .dd
          .du
          ul.droped.withShadow
            //- li.dl Москва
            //- li.dl Киев
            //- li.dl Минск
        .sexBox.clearfix
          .manBox
            .box
            span Мужчины
          .womanBox
            .box
            span Женщины
        .nearBox.clearfix
          //- .box.checked
          //- span Искать рядом
          a.custom-blue-link.search_by_place Искать
      .rightPart.clearfix
        .title Поиск по тексту статусов:
        #status-text.clearfix
          span.rp
            input(type='text', value='', name = 'name',placeholder='Введите текст...')
        

  .statusBlockWrap
    img(src='/static/img/searchpreloader.GIF',class="loading-gif")
  .paginationInfinite
    a(class="more custom-blue-link",data-page=2,href="#") Еще...
a(style="display:none", class="show-vip")
