.statusesContainer.clearfix
  .wantToTravelBox.clearfix
    .newStatus Новый статус
    .statusBoxCompleted.clearfix
      .statusBox#main-status
        .status Завтра вылетаю, есть билет на халяву, кто со мной? Время поджимает, давайте поторопитесь. Бла-бла
        .edit#edit-status
        .comments.clearfix
          span#delete-comments удалить
          span#share-comments поделиться
          .house-icon
          .money-icon
      .statusBoxEdit.clearfix
        h1 добавить новый статус
        .greenDots
        input#new-status(placeholder='...', type='text',  maxlength="140")
        .writeBtn#write-new-main-status
  .filterBlock
    .title.clearfix
      span поиск по статусам
      .dd
      .du
    .sortBy.clearfix
      span Сортировать по:
      span Популярноси
      .act.clearfix 
        span Актуальности
        .dd
        .du
    .filters.clearfix
      .leftPart.clearfix
        .title Поиск по городам:
        .tagsBox.clearfix
          .mainSelectElement.searcTagPlaces.withShadow
            span.tagCountry Россия
            .close
        .mainSelectElement.searchCountry.withShadow
          input#search-select(placeholder='...', type='text',  maxlength="20")
          .dd
          .du
          ul.droped.withShadow
            li.dl Россия
            li.dl Африка
            li.dl Европа
        .nearBox.clearfix
          .box.checked
          span Искать рядом
      .rightPart.clearfix
        .sexBox.clearfix
          .manBox
            .box
            span Мужчины
          .womanBox
            .box.checked
            span Женщины
  .statusBlock
    img(src='../static/img/statuses/userpic.png')
    .profileInfoBox.leftPart     
      .name-in-profile Вениамин Петров, 23
      .city-in-profile Москва
      .money-icon
      .house-icon
    .rightPart
      .status Завтра вылетаю, есть билет на халяву, кто со мной? Время поджимает, давайте поторопитесь. Бла-бла
      .writeBtn
      .controlLinks.clearfix
        .like нравится
        .note пожаловаться
        .share поделиться
  .statusBlock
    img(src='../static/img/statuses/userpic.png')
    .profileInfoBox.leftPart     
      .name-in-profile Вениамин Петров, 23
      .city-in-profile Москва
      .money-icon
      .house-icon
    .rightPart
      .status Завтра вылетаю, есть билет на халяву, кто со мной? Время поджимает, давайте поторопитесь. Бла-бла
      .writeBtn
      .controlLinks.clearfix
        .like нравится
        .note пожаловаться
        .share поделиться
  .statusBlock
    img(src='../static/img/statuses/userpic.png')
    .profileInfoBox.leftPart     
      .name-in-profile Вениамин Петров, 23
      .city-in-profile Москва
      .money-icon
      .house-icon
    .rightPart
      .status Завтра вылетаю, есть билет на халяву, кто со мной? Время поджимает, давайте поторопитесь. Бла-бла
      .writeBtn
      .controlLinks.clearfix
        .like нравится
        .note пожаловаться
        .share поделиться
  .statusBlock
    img(src='../static/img/statuses/userpic.png')
    .profileInfoBox.leftPart     
      .name-in-profile Вениамин Петров, 23
      .city-in-profile Москва
      .money-icon
      .house-icon
    .rightPart
      .status Завтра вылетаю, есть билет на халяву, кто со мной? Время поджимает, давайте поторопитесь. Бла-бла
      .writeBtn
      .controlLinks.clearfix
        .like нравится
        .note пожаловаться
        .share поделиться
  .statusBlock
    img(src='../static/img/statuses/userpic.png')
    .profileInfoBox.leftPart     
      .name-in-profile Вениамин Петров, 23
      .city-in-profile Москва
      .money-icon
      .house-icon
    .rightPart
      .status Завтра вылетаю, есть билет на халяву, кто со мной? Время поджимает, давайте поторопитесь. Бла-бла
      .writeBtn
      .controlLinks.clearfix
        .like нравится
        .note пожаловаться
        .share поделиться