script(type='text/javascript', src='/static/js/script/base.js')
.mainWrapper.cleafix
    header.info-header
        a.hLogo(href='/')
          span попутчики.ru
        ul.navigation.aboutInfo
          li#header-about(data-view="aboutus")
            span О нас
          li#header-terms(data-view="terms")
            span Правила
          li#header-contacts(data-view="contacts")
            span Контакты
          //- li#header-contact(data-view="rating")
          //-   span Обратная связь
    block static
    include footer