each status in statuses.models
  .statusBlock
    img(src='#{users[status.get("user")].get("avatar_url")}')
    .profileInfoBox.leftPart     
      .name-in-profile #{users[status.get("user")].get('name')}, 23
      .city-in-profile=users[status.get("user")].get('city')
      .money-icon
      .house-icon
    .rightPart
      .status=status.get('text')
      .writeBtn
      .controlLinks.clearfix
        .like нравится
        .note пожаловаться
        .share поделиться