extends ./static

block static
  .textContent
    h1 Правила сайта
    .layout
        h2 Регламент сайта Попутчики.ru
        .greenDots
        #accordion.links
            h4.accordion-toggle 
                img(src='../static/img/accord-arrow.png')                   
                a(href='#') 1. Основные понятия и определения
            .accordion-content.default
                p 1.1 Сайт — совокупность размещенных в сети Интернет веб-страниц, объединенных единой темой, дизайном и единым адресным пространством домена popytchiki. ru Стартовая страница Сайта, посредством которой может быть осуществлен доступ ко всем остальным веб-страницам Сайта, размещена в сети Интернет по адресу poputchiki.ru/
                p 1.2 Пользователь Сайта (Пользователь) — любое лицо, осуществляющее доступ к Сайту посредством сети Интернет.
                p 1.3 Владелец Сайта — ООО «Попутчики».
                p 1.4 Владелец Сайта и Пользователь Сайта в дальнейшем совместно именуются «стороны», а по отдельности — «сторона».
                p 1.5 Администрация Сайта (Администрация) — лица, уполномоченные Владельцем Сайта на осуществление управления Сайтом и иные действия, связанные с его использованием. Администрация Сайта действует от имени Владельца Сайта, если иное не будет указано отдельно.
                p 1.6 Персональная страница Пользователя — раздел Сайта, доступный Пользователю после регистрации, посредством которого Пользователь осуществляет управление своей учетной записью (аккаунтом), размещение фотографий, информации, отправку и получение личных сообщений и иные действия, связанные с использованием Сайта.
                p 1.7 Личные сообщения — электронные сообщения, передаваемые одним Пользователем другому и не доступные третьим лицам, отправка и получение которых осуществляется с использованием Персональной страницы Пользователя.
                p 1.8 Понятия «учетная запись» и «аккаунт» равнозначны.
            h4.accordion-toggle 
                img(src='../static/img/accord-arrow.png')                   
                a(href='#') 2. Общие положения
            .accordion-content
                p 2.1 Настоящий Регламент регулирует отношения между Владельцем Сайта в лице Администрации Сайта и Пользователями Сайта, возникающие в связи с использованием Сайта.
                p 2.2 В случае, если отдельные вопросы не урегулированы настоящим Регламентом или иным соглашением сторон, к отношениям сторон подлежит применению право Российской Федерации.
                p 2.3 Положения настоящего Регламента устанавливаются, изменяются и отменяются Владельцем Сайта в одностороннем порядке без предварительного уведомления. С момента размещения на Сайте новой редакции Регламента предыдущая редакция считается утратившей свою силу. В случае существенного изменения положений Регламента, Администрация извещает об этом Пользователей путем размещения на Сайте соответствующего сообщения.
                p 2.4 К правам и обязанностям сторон, возникшим на основании редакции Регламента, утратившей свою силу, применяются положения действующей (последней) редакции Регламента, если иное не будет установлено Регламентом или не вытекает из характера возникших между сторонами отношений.
                p 2.5 Действующая редакция Регламента размещена в сети Интернет по адресу (http://poputchiki.ru/help/).
            h4.accordion-toggle 
                img(src='../static/img/accord-arrow.png')                   
                a(href='#') 3. Владелец Сайта
            .accordion-content
                p 3.1 Владелец Сайта является администратором домена popytchiki. ru и обладателем исключительных прав на использование Сайта, в том числе входящих в его состав программ для ЭВМ и баз данных, информационных материалов, графических изображений, являющихся элементами пользовательского интерфейса, и иных охраняемых объектов, входящих в состав Сайта, а также на дизайн Сайта.
                p 3.2 Владелец Сайта является информационным посредником и оказывает услуги по передаче, хранению и обеспечению доступа посредством сети Интернет к предоставляемой Пользователями информации, графическим изображениям и иным материалам. Любая информация, предоставляемая Пользователями и передаваемая посредством Сайта, передается без изменений и исправлений.
            h4.accordion-toggle 
                img(src='../static/img/accord-arrow.png')                   
                a(href='#') 4. Пользователь Сайта
            .accordion-content
                p 4.1 Права и обязанности Пользователя Сайта возникают у лица с момента его первого обращения к любой из веб-страниц, входящих в состав Сайта.
                p 4.2 Осуществление прав Пользователя в полном объеме возможно после регистрации Пользователя на Сайте. Для регистрации Пользователь указывает имя пользователя (адрес электронной почты) и пароль. С момента подтверждения регистрации и активации учетной записи (аккаунта) Пользователь приобретает статус зарегистрированного Пользователя.
                p 4.3 Если не будет доказано иное, лицо, авторизовавшееся на Сайте (путем указания имени пользователя (адреса электронной почты) и пароля, перехода по ссылке, полученной по электронной почте, в результате автоматической авторизации с использованием cookies и т. д.), считается надлежащим владельцем учетной записи, доступ к использованию и управлению которой были получены в результате такой авторизации.
            h4.accordion-toggle 
                img(src='../static/img/accord-arrow.png')                   
                a(href='#') 5. ЗАПРЕЩЕННЫЕ ДЕЙСТВИЯ
            .accordion-content
                p 5.1 Осуществлять сбор персональных данных других Пользователей с целью их последующей обработки т. е. совершения действий (операций) с персональными данными, включая их сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу), обезличивание, блокирование и уничтожение;
                p 5.2 Использовать любые автоматические или автоматизированные средства для сбора информации, размещенной на Сайте;
                p 5.3 Осуществлять пропаганду или агитацию, возбуждающую социальную, расовую, национальную или религиозную ненависть и вражду, пропаганду войны, социального, расового, национального, религиозного или языкового превосходства;
                p 5.4 Размещать на Сайте или передавать посредством личных сообщений информацию ограниченного доступа (конфиденциальную информацию), если Пользователь не является обладателем данной информации, т. е. лицом, самостоятельно создавшим эту информацию либо получившим на основании закона или договора право разрешать или ограничивать к ней доступ, либо является её обладателем, но, в силу закона или условий договора, на основании которого ему была передана такая информация, не обладает достаточными правами для того, чтобы раскрывать данную информацию подобным образом;
                p 5.5 Размещать на Сайте копии охраняемых законом результатов интеллектуальной деятельности или их частей при отсутствии у Пользователя соответствующих исключительных или неисключительных прав на такое их использование;
                p 5.6 Размещать на Сайте в открытом доступе или передавать посредством личных сообщений текстовые сообщения, графические изображения или иные материалы, содержание которых является оскорбительным для других Пользователей или иных лиц или может быть расценено в качестве такового, а также сообщения, изображения и иные материалы, которые дискредитируют Пользователей или иных лиц, содержат угрозы, призывы к насилию, совершению противоправных деяний, антиобщественных, аморальных поступков, а также совершению любых иных действий, противоречащих основам правопорядка и нравственности;
                p 5.7 Размещать на Сайте сообщения, графические изображения или другие материалы, размещение которых наносит или может нанести ущерб чести, достоинству и деловой репутации гражданина или деловой репутации организации;
                p 5.8 Размещать на Сайте сообщения, содержащие нецензурные слова и выражения;
                p 5.9 Размещать на Сайте материалы порнографического характера или гипертекстовые ссылки на Интернет-сайты, содержащие такие материалы;
                p 5.10 Размещать на Сайте персональные данные, в том числе контактные данные, других Пользователей или иных лиц без их предварительного согласия;
                p 5.11 Размещать на Сайте изображения других лиц без их предварительного согласия, за исключением случаев, предусмотренных законом; или иных лиц без их предварительного согласия;
                p 5.12 Указывать при регистрации или вводить впоследствии заведомо ложную или вымышленную информацию о себе, в частности чужие или вымышленные имя и фамилию;
                p 5.13 Размещать на Сайте в качестве собственной фотографии изображения других лиц или вымышленных персонажей, изображения животных, предметов, абстрактные изображения, а также любые иные графические изображения, не являющиеся изображениями лица, размещающего данные изображения;
                p 5.14 Регистрировать аккаунт (учетную запись) группы лиц или организации;
                p 5.15 Регистрировать более одной учетной записи на одно и то же лицо;
                p 5.16 Регистрировать новое сообщество в отношении школы, колледжа, ВУЗа, воинской части, места работы, места отдыха (конкретного отеля, гостиницы, дома отдыха и т. п.), если для них уже создано соответствующее сообщество;
                p 5.17 Размещать на Сайте в открытом доступе без предварительного согласия Администрации, передавать посредством личных сообщений без предварительного согласия Пользователя текстовые сообщения, графические изображения и иные материалы, которые содержат рекламу;
                p 5.18 Осуществлять действия, направленные на дестабилизацию функционирования Сайта, осуществлять попытки несанкционированного доступа к управлению Сайтом или его закрытым разделам (разделам, доступ к которым разрешен только Администрации), а также осуществлять любые иные действия, которые могут быть расценены как сетевая атака;
                p 5.19 Использовать Сайт в каких-либо коммерческих целях без предварительного разрешения Администрации или Владельца Сайта;
                p 5.20 Использовать Сайт для целей поиска и подбора персонала, размещения резюме, поиска должников или иных подобных целей.
            h4.accordion-toggle 
                img(src='../static/img/accord-arrow.png')                   
                a(href='#') 6. Права и обязанности Пользователя
            .accordion-content
                p 6.1 Пользователь вправе размещать на Сайте информацию о себе, свои фотографии, оценивать и комментировать фотографии других Пользователей, создавать новые сообщества и вступать в уже существующие, использовать иные сервисы Сайта.
                p 6.2 Пользователь обязуется воздерживаться от указанных в разделе 5. настоящего Регламента запрещенных действий.
                p 6.3 Пользователь вправе осуществлять модерацию фотографий, размещаемых на Сайте другими Пользователями. Для реализации этой возможности необходимо подписаться на модерацию, изменив соответствующие настройки своей Персональной страницы Пользователя.
            h4.accordion-toggle 
                img(src='../static/img/accord-arrow.png')                   
                a(href='#') 7. Права и обязанности Администрации
            .accordion-content
                p 7.1 Администрация Сайта осуществляет текущее управление Сайтом, определяет состав сервисов Сайта, его структуру и внешний вид, разрешает и ограничивает доступ к Сайту, осуществляет иные принадлежащие ей права.
                p 7.2 Администрация Сайта решает вопросы, связанные с коммерческим использованием Сайта, в частности вопросы о возможности размещения на Сайте рекламы, участия в партнерских программах и т. д.
                p 7.3 В случае нарушения Пользователем правил, установленных настоящим Регламентом, Администрация вправе временно приостановить или заблокировать на неопределенный срок доступ Пользователя к Сайту или его отдельным сервисам, а в случае неоднократного или грубого нарушения положений Регламента — удалить учетную запись Пользователя.
                p 7.4 Администрация вправе, но не обязана осуществлять модерацию сообщений, фотографий и иных материалов, размещаемых Пользователями на Сайте.
                p 7.5 Администрация не занимается рассмотрением и разрешением споров и конфликтных ситуаций, возникающих между Пользователями, однако оставляет за собой право заблокировать доступ Пользователя к Сайту в случае получения от других Пользователей мотивированных жалоб на некорректное поведение данного Пользователя на Сайте.

            h4.accordion-toggle 
                img(src='../static/img/accord-arrow.png')                   
                a(href='#') 8. Использование cookies
            .accordion-content
                p 8.1 На сайте popytchiki. ru применяется технология идентификации, основанная на использовании файлов cookies.
                p 8.2 При доступе Пользователя к Сайту на компьютер, используемый им для доступа, могут быть записаны файлы cookies, которые в дальнейшем будут использованы для автоматической авторизации Пользователя на Сайте, а также для сбора статистических данных, в частности о посещаемости ресурса poputchiki. ru
                p 8.3 Если Пользователь полагает, что по тем или иным причинам использование технологии cookies для него неприемлемо, он вправе запретить сохранение файлов cookies на компьютере, используемом им для доступа к Сайту, соответствующим образом настроив браузер. При этом следует иметь в виду, что, несмотря на то, что удобство пользования Сайтом в целом не пострадает, отдельные сервисы, использующие данную технологию, могут оказаться недоступными.
            h4.accordion-toggle 
                img(src='../static/img/accord-arrow.png')                   
                a(href='#') 9. Гарантии и ответственность сторон
            .accordion-content
                p 9.1 Пользователь гарантирует, что размещение им на Сайте или передача посредством личных сообщений информации, копий охраняемых законом результатов интеллектуальной деятельности или их частей, а также иных материалов не нарушает чьих-либо прав и законных интересов.
                p 9.2 Пользователь гарантирует, что им будут приняты надлежащие меры для обеспечения конфиденциальности учетных данных, используемых им для авторизации на Сайте, и предотвращения возможности авторизации других лиц с использованием его учетной записи.
                p 9.3 Владелец Сайта гарантирует тайну переписки осуществляемой Пользователями посредством личных сообщений.
                p 9.4 Владелец Сайта гарантирует, что Администрацией Сайта не будет осуществляться отправка Пользователям сообщений, содержащих рекламу, без предварительного согласия Пользователей.
                p 9.5 Владелец Сайта гарантирует, что указанный Пользователем при регистрации адрес электронной почты будет использован только для связи Администрации с Пользователем, отправки Пользователю уведомлений и сообщений, на получение которых он подписался, и не будет передан третьим лицам без предварительного согласия Пользователя.
                p 9.6 Владелец Сайта в лице Администрации обязуется приложить все разумные усилия для поддержания Сайта в работоспособном состоянии, однако не гарантирует постоянную и бесперебойную работу Сайта и не несет ответственности по обеспечению его непрерывного функционирования.
                p 9.7 За нарушение положений настоящего Регламента доступ Пользователя к Сайту или его отдельным сервисам может быть временно приостановлен или заблокирован на неопределенный срок. Доступ пользователя к Сайту (его отдельным сервисам) восстанавливается на усмотрение Администрации по письменному заявлению Пользователя.
                p 9.8 В случае неоднократного или грубого нарушения Пользователем положений Регламента его учетная запись может быть удалена.
                p 9.9 За исключением случаев, прямо предусмотренных законом, Владелец Сайта не несет ответственности за убытки, возникшие у Пользователей по причинам, связанным с техническими сбоями аппаратного или программного обеспечения, а также за убытки, возникшие в результате действий Пользователей, явно не соответствующих обычным правилам работы с информацией в сети Интернет, аппаратными средствами или программным обеспечением.

            h4.accordion-toggle 
                img(src='../static/img/accord-arrow.png')                   
                a(href='#') 9. Гарантии и ответственность сторон
            .accordion-content
                p 9.1 Пользователь гарантирует, что размещение им на Сайте или передача посредством личных сообщений информации, копий охраняемых законом результатов интеллектуальной деятельности или их частей, а также иных материалов не нарушает чьих-либо прав и законных интересов.
                p 9.2 Пользователь гарантирует, что им будут приняты надлежащие меры для обеспечения конфиденциальности учетных данных, используемых им для авторизации на Сайте, и предотвращения возможности авторизации других лиц с использованием его учетной записи.
                p 9.3 Владелец Сайта гарантирует тайну переписки осуществляемой Пользователями посредством личных сообщений.
                p 9.4 Владелец Сайта гарантирует, что Администрацией Сайта не будет осуществляться отправка Пользователям сообщений, содержащих рекламу, без предварительного согласия Пользователей.
                p 9.5 Владелец Сайта гарантирует, что указанный Пользователем при регистрации адрес электронной почты будет использован только для связи Администрации с Пользователем, отправки Пользователю уведомлений и сообщений, на получение которых он подписался, и не будет передан третьим лицам без предварительного согласия Пользователя.
                p 9.6 Владелец Сайта в лице Администрации обязуется приложить все разумные усилия для поддержания Сайта в работоспособном состоянии, однако не гарантирует постоянную и бесперебойную работу Сайта и не несет ответственности по обеспечению его непрерывного функционирования.
                p 9.7 За нарушение положений настоящего Регламента доступ Пользователя к Сайту или его отдельным сервисам может быть временно приостановлен или заблокирован на неопределенный срок. Доступ пользователя к Сайту (его отдельным сервисам) восстанавливается на усмотрение Администрации по письменному заявлению Пользователя.
                p 9.8 В случае неоднократного или грубого нарушения Пользователем положений Регламента его учетная запись может быть удалена.
                p 9.9 За исключением случаев, прямо предусмотренных законом, Владелец Сайта не несет ответственности за убытки, возникшие у Пользователей по причинам, связанным с техническими сбоями аппаратного или программного обеспечения, а также за убытки, возникшие в результате действий Пользователей, явно не соответствующих обычным правилам работы с информацией в сети Интернет, аппаратными средствами или программным обеспечением.
        .desc 
            h4 Администрация Сайта настоятельно рекомендует:
            p - не размещать на Сайте в открытом доступе свои контактные данные, в частности телефонный номер, адрес электронной почты, номер ICQ и т. п.; 
            p - в случае, если доступ к Сайту осуществляется Вами посредством компьютера, который помимо Вас используется или может использоваться другими лицами — принимать необходимые меры для того, чтобы вводимый Вами пароль не сохранялся в браузере; 
            p - во всех случаях принимать необходимые меры для обеспечения конфиденциальности Ваших учетных данных, используемых для доступа к Сайту; 
            p - не размещать на Сайте какие-либо материалы, если Вы не уверены, что такое их использование не нарушает чьих-либо имущественных или личных неимущественных прав; 
            p - не размещать на Сайте информацию, если Вы не уверены, что данная информация является общедоступной, т. е. в соответствии с законодательством РФ не отнесена к категории информации ограниченного доступа (в особенности это относится к информации о воинских частях); 
            p - не размещать на Сайте фотографии, на которых помимо Вас запечатлены другие лица, без их предварительного согласия, за исключением случаев, когда в соответствии с законом такое согласие не требуется (фотография была сделана при съемке, которая проводилась в месте, открытом для свободного посещения, или на публичном мероприятии (собрании, съезде, конференции, концерте, представлении, спортивном соревновании или ином подобном мероприятии), за исключением случаев, когда такое изображение является основным объектом использования; человек, запечатленный на фотографии, позировал за плату); 
            p - не размещать в разделе «фотографии» что-либо, кроме собственных фотографий, сделанных в недавнем прошлом: если вы хотите разместить на Сайте свои детские фотографии, снимки со встречи выпускников, фотографии родственников, друзей и знакомых, детей, домашних животных и т. п. — используйте для этого раздел «фотоальбом»; 
            p - если кто-либо из пользователей совершил в отношении Вас действия, которые Вы расцениваете как оскорбительные, дискредитирующие и т. п. — не вступать с ним в конфликт, а обратиться к Администрации Сайта; 
            p - в случае, если кто-то из пользователей явным образом изъявил свое нежелание общаться с Вами, — воздержаться от дальнейших попыток вступить с ним в контакт; 
            p - прежде чем создавать новое сообщество для своей школы, колледжа, ВУЗа, воинской части, места работы, места отдыха — убедитесь, что аналогичное сообщество уже не создано кем-то ещё; 
            p - при использовании Сайта воздержаться от совершения действий, которые заведомо являются или могут быть расценены как противоправные.
            
            h4 Администрация Сайта настоятельно рекомендует:
            p Администрация Сайта обращает внимание Пользователей на то, что за разглашение (нарушение конфиденциальности) информации, т. е. совершение действий, в результате которых информация, доступ к которой ограничен в соответствии с законом (государственная, служебная, коммерческая тайна, различного рода профессиональные тайны и т. д.), становится известной посторонним лицам без согласия на то её обладателя, а также за незаконное использование объектов интеллектуальной собственности (произведений науки, литературы, искусства, программ для ЭВМ и баз данных, фонограмм и т. д.), в том числе путем размещения их копий или частей в сети Интернет, законодательством Российской Федерации установлена гражданско-правовая, административная и уголовная ответственность.
                | Юридическая ответственность (в том числе уголовная) установлена также за возбуждение ненависти либо вражды, унижение чести и достоинства человека или группы лиц по каким-либо признакам, оскорбление, пропаганду насилия над гражданами, отказа от исполнения гражданских обязанностей, совершения противоправных деяний, за неправомерный доступ к компьютерной информации, а также за ряд иных действий, запрещенных Регламентом.
            h4 Условия заимствования материалов с сайта Попутчики.ru
            p В интернете:
            p Полное или частичное копирование на сайтах в интернете авторских материалов (публикаций, рассказов, отзывов), размещенных на сайте Попутчики.ру, разрешается только с согласия автора или с обязательной активной ссылкой (гиперссылкой) на страницу-источник сайта Попутчики.ру, откуда вы заимствуете авторский материал. Другие способы копирования, в т.ч. с указанием ссылки только на главную страницу сайта, где нет искомой информации, а также добавление текстов, вроде "По материалам Попутчики.ру" и т.д. является нарушением условий заимствования, равно как и полное игнорирование данных условий.
            p В печати:
            p Копирование на бумажные носители допускается с согласия автора или с указанием текста "По материалам Попутчики.ру
            p Ответственность:
            p Случаи незаконного заимствования авторских текстов с сайта Попутчики.ру, когда автор не давал согласия на копирование или допущено нарушение данных условий заимствования, будут постоянно отслеживаться. Нарушители будут нести ответственность в соответствии с законом.





