.newStatus Добавить новый статус путешественника
a(id="status-limit-alert",class="popup-info",data-infopopup-title="Внимание", data-infopopup-text="Вы превысили лимит статусов в день!",style="display:none;")
.statusBoxCompleted.clearfix
  .statusBox#main-status
    .status Введите ваш новый статус! Расскажите пользователям о том куда вы хотите поехать!
  .comments.clearfix
  .statusBoxEdit.clearfix
    h1 добавить новый статус
    .greenDots
    input#new-status(placeholder='...', type='text', value='Введите новый статус!')
    .writeBtn#write-new-main-status