.fui-play
div.photo-time #{video.url}
if (video.thumbnail_url)
  img(src=video.thumbnail_url)
else
  img(src='http://lorempixel.com/400/400/')

if (is_my_user)
  .actions
    if(liked_by)
      a(class="action-remove-like custom-link") нравится
    else
      a(class="action-like custom-link") нравится
    span.like-counter-box
      i &nbsp;
      span.like-counter #{video.likes}
    a(class="custom-blue-link open-promo") в ленту
    a(class="custom-link remove-photo") удалить
else
  if(liked_by)
    a(class="action-remove-like custom-link") нравится
  else
    a(class="action-like custom-link") нравится
  span.like-counter  #{video.likes}
