.header 
    h1 Настройки
h1 ИЗМЕНЕНИЯ ПАРОЛЯ
.greenDots
.profileInfoBox 
    .infoBox.infoEdit.post          
        .currentEmail Старый пароль
        .clearfix
            input(type='text', placeholder="Старый пароль")
        br
        br
        .currentEmail Новый пароль
        .clearfix
            input(type='password', placeholder="Новый пароль", name='pass')
        .clearfix
            input(type='password', placeholder="Продублируйте нвоый пароль", name='passagain')
        .profile-edit-slideup
            span сохранить
//- h1 УВЕДОМЛЕНИЯ
//- .greenDots
//- .profileInfoBox 
//-     .infoBox.infoEdit
//-         .head.clearfix Я хочу получать на свой емайл рассылки:                              
//-         .clearfix.notifications.email
//-             .clearfix
//-                 .box.checked
//-                 span Пользователь комментируют мой статус
//-             .clearfix
//-                 .box
//-                 span Пользователи добавляют меня в избранное
//-             .clearfix
//-                 .box
//-                 span Меня хотят пригласить в поездку
//-         .head.clearfix Я хочу получать уведомления, каждый раз, когда:  
//-         .clearfix.notifications.last
//-             .clearfix
//-                 .box.checked
//-                 span Рассылки "ТОП путешествий недели"
//-                 small Топ публикаций пользователей о совершенных поездках
//-             .clearfix
//-                 .box
//-                 span Рассылки "Новые лица недели"
//-                 small Какой-нибудь комментарий, описывающий суть рассылки
//-             .clearfix
//-                 .box
//-                 span Обзор новых статусов
//-                 small Какой-нибудь комментарий, описывающий суть рассылки
//-             .spam.clearfix
//-                 span.one
//-                     .box.checked
//-                     span Раз в день
//-                 span.one
//-                     .box
//-                     span Раз в неделю
//-                 span.one
//-                     .box
//-                     span Никогда
//-         .profile-edit-slideup
//-             span сохранить