.header 
    h1 Настройки
h1 РЕЖИМ НЕВИДИМКИ
.greenDots
.profileInfoBox 
    .infoBox.infoEdit          
        .head.clearfix Режим невидимки позваляет не палиться когда вы заходите на другого пользователя
        .clearfix.notifications.email
            .clearfix
                div(class = user.invisible ? "box checked" : "box")
                span Включить режим невидимки
        .currentEmail Режим невидимки доступен только пользователям с вип-статусом 
            a(href='#')  активировать вип статус
        .profile-edit-slideup
            span сохранить