.header 
    h1 Настройки
h1 РЕЖИМ НЕВИДИМКИ
.greenDots
.profileInfoBox 
    .infoBox.infoEdit          
        .head.clearfix Режим невидимки позваляет не палиться когда вы заходите на другого пользователя
        if user.vip
            .clearfix.notifications.email
                .clearfix
                    div(class = user.invisible ? "box checked" : "box")
                    span Включить режим невидимки
        else
            .clearfix.notifications.email
                .clearfix(style="opacity:0.6")
                    div(class = "box show-vip")
                    span Включить/Выключить режим невидимки
            .currentEmail
                span.fui-alert 
                |  Режим невидимки доступен только пользователям с вип-статусом 
                a(class="custom-blue-link show-vip")  активировать вип статус
        .profile-edit-slideup
            span сохранить