.header 
    h1 Счет
p Попики – денежная единица «Попутчиков». Пополняйте счет и пользуйтесь специальными функциями сайта.
br
h1 Пополнение счета
.greenDots
.profileInfoBox 
    .infoBox.infoEdit.post.payment
        .currentEmail Состояние счета: 
            a(href='#') #{user.balance} 
            | попиков 
            .pop-coin
        .pay-item
            div.price 100
                    small попиков
                        span  (30 рублей)
            .profile-edit-slideup.pay(data-sum='100')
                span Пополнить

        .pay-item
            div.price 300 
                    small попиков
                        span  (90 рублей)
            .profile-edit-slideup.pay(data-sum='300')
                span Пополнить


        .pay-item
            div.price 500
                    small попиков
                        span  (140 рублей)
            .profile-edit-slideup.pay(data-sum='500')
                span Пополнить

        .pay-item
            div.price 1000
                    small попиков
                        span  (280 рублей)
            .profile-edit-slideup.pay(data-sum='1000')
                span Пополнить

        .pay-item
            div.price 3000
                    small попиков
                        span  (800 рублей)
            .profile-edit-slideup.pay(data-sum='3000')
                span Пополнить

h1 Куда потратить?
.greenDots
.profileInfoBox 
    .infoBox.infoEdit.post          
        ul
            li 
                b Промолента
                |  - 50 попиков
            li
                br
            li 
                b Вип статус:
                br
                | - 400 попиков (неделя)
                br
                | - 1000 попиков (месяц)