.header 
    h1 Счет
p Попики – денежная единица «Попутчиков». Пополняйте счет и пользуйтесь специальными функциями сайта.
br
h1 Пополнение счета
.greenDots
.profileInfoBox 
    .infoBox.infoEdit.post.payment
        .currentEmail Состояние счета: 
            a(href='#') #{user.balance} 
            | попиков 
            .pop-coin
        .pay-item
            div.price 100
                    small попиков
                        span (30 рублей)
            .profile-edit-slideup.pay(data-sum='30')
                span Пополнить

        .pay-item
            div.price 300 
                    small попиков
                        span (90 рублей)
            .profile-edit-slideup.pay(data-sum='90')
                span Пополнить


        .pay-item
            div.price 500
                    small попиков
                        span (140 рублей)
            .profile-edit-slideup.pay(data-sum='140')
                span Пополнить

        .pay-item
            div.price 1000
                    small монет
                        span (280 рублей)
            .profile-edit-slideup.pay(data-sum='280')
                span Пополнить

        .pay-item
            div.price 3000
                    small монет
                        span (800 рублей)
            .profile-edit-slideup.pay(data-sum='800')
                span Пополнить

h1 Куда потратить?
.greenDots
.profileInfoBox 
    .infoBox.infoEdit.post          
        ul
            li Морда лента - 50 монет
            li Вип статус - 400 монет(неделя), 1000 - монет(месяц)