.header 
    h1 Настройки

h1 УВЕДОМЛЕНИЯ
.greenDots
.profileInfoBox 
    .infoBox.infoEdit
        .head.clearfix Я хочу получать на свой емайл рассылки:                              
        .clearfix.notifications.email
            .clearfix
                .box.checked
                span Пользователям понравились мои фото
            .clearfix
                .box
                span Пользователям понравился мой статус
            .clearfix
                .box
                span Меня хотят пригласить в поездку
            .clearfix
                .box
                span Мне написали сообщение
            .clearfix
                .box
                span Пользователь зашел на мой профиль
            .clearfix
                .box
                span новости сайта
            .spam.clearfix
                span.one
                    .box.checked
                    span Раз в день
                span.one
                    .box
                    span Раз в неделю
                span.one
                    .box
                    span Никогда
        .profile-edit-slideup
            span сохранить

h1 КОНФИДЕНЦИАЛЬНОСТЬ
.greenDots
.profileInfoBox 
    .infoBox.infoEdit
        .clearfix.notifications.email
            .clearfix
                .box.checked
                span Показывать расстояние до меня
            .clearfix
                .box
                span Отображать мой онлайн статус
        .head.clearfix Кто может видеть мой профиль 
        .clearfix.notifications.last
            .spam.clearfix
                span.one
                    .box.checked
                    span Все
                span.one
                    .box
                    span Пользователи сайта
                span.one
                    .box
                    span Избранные
        .profile-edit-slideup
            span сохранить